<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title><%= @title || 'Microsoft Dynamics培训 | CRM | AX | 找回密码'  %></title>  
    <%= stylesheet_link_tag    'layouts/app-layout', media: 'all' %>
    <%= javascript_include_tag 'layouts/app-layout' %>
    <%= stylesheet_link_tag "pages/default/login-bundle-mobile", :media => "all" %>
    <%= javascript_include_tag "pages/default/fpwd-bundle-mobile", :media => "all" %>    
    <!--[if IE]>
    <link type="text/css" rel="stylesheet" href="/assets/groundworkcss/groundwork-ie.css">
    <![endif]-->  
    <!--[if lt IE 9]>
      <div class='low-version' style='color:#fff;height:100px;line-height:100px;background:#9a3d3d;font-weight:bold; text-align:center;'>
    您当前的浏览器版本过低,请使用IE8及以上版本
    </div>
    <![endif]-->      
    <%= csrf_meta_tags %> 
    <script type="text/javascript">
      jQuery(function($) {
        $('input,textarea').placeholder();
      });
    </script>
  </head>
  <body>
    <div class="container">
<form  class=''>
    <div class="row location half-gap-top padded">
      <div class="one whole mobile">
        <a href="javascript:history.back(); " class='block pull-left double-gap-right' ><i class="icon-chevron-sign-left large"></i></a>
        <div class=" mobile pull-left half-gap-top">
          <i class="icon-map-marker hafl-gap-right"></i>  
          <span class="locate">用户登录</span>
        </div>
      </div>
    </div>  
  <fieldset>
<!--     <div class="row">
      <div class="one third mobile skip-one">
        <%#=image_tag('mobile/login-avatar.jpg',:class => 'whole round')%>
      </div>
    </div> -->
    <div class="row">
      <div class="padded align-center notice">
        &nbsp;
      </div>   
    </div>
    <div class="row">
      <div class="one whole padded mobile">
        <div class="row">
          <div class="one mobile sixth"><span class="prefix"><i class="icon-mobile-phone"></i></span></div>
          <div class="five mobile sixths">
            <input id="name" name='mobile' type="text" placeholder="Enter Your Mobile">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="one whole padded mobile">
        <button class="alert block find-btn">确定</button>
      </div>
    </div>
    <div class="row">
      <div class="one whole padded mobile">
        <a onclick="history.back();">返回</a>       
      </div>
    </div>
  </fieldset>
</form>    
    </div>   
  </body>
</html>