<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>登录页</title>  
    <%= stylesheet_link_tag    'layouts/app-layout', media: 'all' %>
    <%= javascript_include_tag 'layouts/app-layout' %>
    <%= stylesheet_link_tag "pages/default/login-bundle-mobile", :media => "all" %>
    <%= javascript_include_tag "pages/default/fpwd-bundle-mobile", :media => "all" %>    
    <!--[if IE]>
    <link type="text/css" rel="stylesheet" href="/assets/groundworkcss/groundwork-ie.css">
    <![endif]-->  
    <!--[if lt IE 9]>
      <div class='low-version' style='color:#fff;height:100px;line-height:100px;background:#9a3d3d;font-weight:bold; text-align:center;'>
    您当前的浏览器版本过低,请使用IE8及以上版本
    </div>
    <![endif]-->      
    <%= csrf_meta_tags %> 
    <script type="text/javascript">
      jQuery(function($) {
        $('input,textarea').placeholder();
      });
    </script>
  </head>
  <body>
    <div class="container">
    <article class="wraper row triple-padded">
      <div class="one whole mobile">
        <%=image_tag('mobile/login-avatar.jpg',:class => 'whole')%>
      </div>
      <div class="one whole mobile">
        <div class="login-wraper">
          <div.form>
            <div class="row">
              <div class="pad-top pad-bottom one whole align-center">
                &nbsp;
              </div>                
              <div class="pad-top pad-bottom one whole">
                <input id="name" name='mobile' type="text" placeholder="Enter Your Mobile">
              </div>
              <div class="pad-top pad-bottom one whole">
                <button class="alert block find-btn">确定</button>
              </div>
              <div class="pad-top pad-bottom one whole">
                <a onclick="history.back();">返回</a>
              </div>                                                    
            </div>
          </div>
        </div>
      </div>
    </article>      
    </div>

  </body>
</html>