<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title><%= @title || 'Microsoft Dynamics培训 | CRM | AX | 登录'  %></title>  
    <%= stylesheet_link_tag    'layouts/app-layout', media: 'all' %>
    <%= javascript_include_tag 'layouts/app-layout' %>
    <%= stylesheet_link_tag "pages/default/login-bundle-mobile", :media => "all" %>
    <%= javascript_include_tag "pages/default/login-bundle-mobile", :media => "all" %>  
    <!--[if IE]>
    <link type="text/css" rel="stylesheet" href="/assets/groundworkcss/groundwork-ie.css">
    <![endif]-->  
    <!--[if lt IE 9]>
      <div class='low-version' style='color:#fff;height:100px;line-height:100px;background:#9a3d3d;font-weight:bold; text-align:center;'>
    您当前的浏览器版本过低,请使用IE8及以上版本
    </div>
    <![endif]-->        
    <%= csrf_meta_tags %> 
    <script type="text/javascript">
      jQuery(function($) {
        $('input,textarea').placeholder();
      });
    </script>
  </head>
  <body>
    <div class="container triple-pad-top">
<form  class=''>
  <fieldset>
    <div class="row">
      <div class="one third mobile skip-one">
        <%=image_tag('mobile/login-avatar.jpg',:class => 'whole round')%>
      </div>
    </div>

    <div class="row">
      <div class="padded align-center notice">
        &nbsp;
      </div>   
    </div>
    <div class="row">
      <div class="one whole padded mobile">
        <div class="row">
          <div class="one mobile sixth"><span class="prefix"><i class="icon-mobile-phone"></i></span></div>
          <div class="five mobile sixths">
            <input id="name" name='email_mobile' type="text" placeholder="Mobile">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="one whole padded mobile">
        <div class="row">
          <div class="one mobile sixth"><span class="prefix"><i class="icon-lock"></i></span></div>
          <div class="five mobile sixths">
            <input id="password" name='password' type="password" placeholder="Password">
          </div>
        </div>
      </div>
    </div> 

    <div class="row">
      <div class="one whole padded mobile">
        <button class="alert block login-btn">登录</button>
      </div>
    </div>
    <div class="row">
      <div class="one whole padded mobile">
        <a href="/regist">注册</a>
        <a href="/fpwd" class='pull-right'>忘记密码</a>        
      </div>
    </div>
  </fieldset>
</form>   
    </div>

  </body>
</html>