<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>登录页</title>
    <!--[if lt IE 8]>
      <div class='low-version' style='color:#fff;height:100px;line-height:100px;background:#9a3d3d;font-weight:bold; text-align:center;'>
    您当前的浏览器版本过低,请使用IE8及以上版本
    </div>
    <![endif]-->    
    <%= stylesheet_link_tag    'layouts/app-layout', media: 'all' %>
    <%= javascript_include_tag 'layouts/app-layout' %>
    <%= stylesheet_link_tag "pages/default/login-bundle", :media => "all" %>
    <%= javascript_include_tag "pages/default/login-bundle", :media => "all" %>      
    <%= csrf_meta_tags %> 
    <script type="text/javascript">
      jQuery(function($) {
        $('input,textarea').placeholder();
      });
    </script>
  </head>
  <body class="login">
    <div class="login-header row triple-padded">
      <div class="one fourth logo-container">
        <%=image_tag "logo.png", :class => 'logo',:alt => "logo" %>  
      </div>
    </div>
    <div class="login-wrapper row ">
      <form role="form" class='form one thirds double-padded'>
        <div class="row padded ipt-container">
          <div class="one small-tablet sixth">
            <span class="prefix large"><span class="fa fa-user "></span></span>
          </div>
          <div class="five small-tablet sixths">
            <input type="text" name="email_mobile" class='large' placeholder="手机号码">
            <div class='tooltip account'></div>
          </div>       
        </div>        
        <div class="row padded ipt-container">
          <div class="one small-tablet sixth">
            <span class="prefix large"><span class="fa fa-unlock-alt"></span></span>
          </div>
          <div class="five small-tablet sixths">
            <input type="password" name="password" class='large' placeholder="密码">
            <div class='tooltip password'></div>
          </div>
        </div>    
        <div class="row triple-pad-left pad-top pad-bottom">
            <ul class="checklist">
              <li aria-checked="true" class='double-pad-left remember-me'>记住我</li>
            </ul>
        </div>
        <div class="row  double-pad-left padded-top">
          <button class="large triple-gap-left login-btn eight ninth">登录</button>
        </div>
        <div class="row padded">
          <p>
            <strong ><a href="/regist">立即注册</a></strong>
          </p>
          <p>
            <strong>或</strong>
          </p>
          <p>
            <strong ><a href="javascript:void(0);" class='forget-password'>忘记密码?</a></strong>
          </p>
        </div>        
      </form>
    </div>
    <article class="forget-box">
      <div class="row double-padded">
        <div class="box half-gap-bottom">请输入您的手机号</div>
        <div class="two mobile thirds">
          <input type="text" name="mobile" class='f-mobile' placeholder="Enter your mobile">
        </div>
        <div class="one mobile third"><span class="suffix yellow f-btn">找回</span></div>
      </div>
    </article>
  </body>
</html>