<% content_for :app_head do %>
  <%= stylesheet_link_tag    "pages/default/category-bundle" %>
  <%= javascript_include_tag "pages/default/category-bundle" %>
  <script type="text/javascript">
  jQuery(function($) {

  });
  </script>
  <%= yield :head %>
<% end %>
<div class="row triple-gap-top triple-pad-top">
    <div class="container main triple-padded">
      <article class="row tool padded">
        <div>
          <div class="row">
            <div class="blue padded">
              <ul class="checklist turquoise eleven twelfths">
                <li class='half-gap-top gap-right pull-right'>反选</li>
                <li class='half-gap-top gap-right pull-right' aria-checked="true">全选</li>
              </ul> 
              <button class="round one twelfth">报名</button>
            </div>
          </div>   
        </div>
            <div class="eleven twelfths">
               
            </div>
            <div class="one twelfth">
              
            </div>


      </article>
      <article class="row">
        <div class="one half">
          <div class="row">
            <div class="one fourth padded">
              <div class="avatar">
                <%=image_tag "avatar.jpg", :alt => "avatar" %>
              </div>
            </div>
            <div class="three fourth padded">
              <div class="row">
                <div class="eleven twelfth">
                  <div class="row c-title">
                    <b>
                      <span class="code">80539AE</span>
                      <span class="title">Installation and Deployment In Microsoft Dynamics CRM 2014</span>
                    </b>
                      
                  </div>
                  <div class="row audience">
                    受众对象:
                    <span class="audiencer">
                      Application Consultant,Technology Consultant,Developer,Pre-Sales
                    </span>
                  </div>
                  <div data-truncate="2" class="row description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
                  </div>
                  <div class="row more"><a href="#">More</a></div>
                  <div class="row pagement pad-top">
                    <div class="one fifth">
                      <button class="start success half-gap-bottom small">报名</button>
                      <button class="feedback info small">反馈</button>
                    </div>
                    <div class="two fifths">
                      <p class='duration'>时长:5 HRS 13 MINS</p>
                      <p class="level">LEVEL:200</p>
                    </div>
                    <div class="two fifths">
                      <p class="pub">时间:2014年1月1日</p>
                      <p class="city">城市:上海</p>
                    </div>
                  </div>                  
                </div>
                <div class="one twelfth">
                  <ul class="checklist">
                    <li></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>          
        </div>
        <div class="one half">
          <div class="row">
            <div class="one fourth padded">
              <div class="avatar">
                <%=image_tag "avatar.jpg", :alt => "avatar" %>
              </div>
            </div>
            <div class="three fourth padded">
              <div class="row">
                <div class="eleven twelfth">
                  <div class="row c-title">
                    <b>
                      <span class="code">80539AE</span>
                      <span class="title">Installation and Deployment In Microsoft Dynamics CRM 2014</span>
                    </b>
                      
                  </div>
                  <div class="row audience">
                    受众对象:
                    <span class="audiencer">
                      Application Consultant,Technology Consultant,Developer,Pre-Sales
                    </span>
                  </div>
                  <div data-truncate="2" class="row description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
                  </div>
                  <div class="row more"><a href="#">More</a></div>
                  <div class="row pagement pad-top">
                    <div class="one fifth">
                      <button class="start success half-gap-bottom small">报名</button>
                      <button class="feedback info small">反馈</button>
                    </div>
                    <div class="two fifths">
                      <p class='duration'>时长:5 HRS 13 MINS</p>
                      <p class="level">LEVEL:200</p>
                    </div>
                    <div class="two fifths">
                      <p class="pub">时间:2014年1月1日</p>
                      <p class="city">城市:上海</p>
                    </div>
                  </div>                  
                </div>
                <div class="one twelfth">
                  <ul class="checklist">
                    <li></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>          
        </div>
      </article>  
      <article class="row">
        <div class="one half">
          <div class="row">
            <div class="one fourth padded">
              <div class="avatar">
                <%=image_tag "avatar.jpg", :alt => "avatar" %>
              </div>
            </div>
            <div class="three fourth padded">
              <div class="row">
                <div class="eleven twelfth">
                  <div class="row c-title">
                    <b>
                      <span class="code">80539AE</span>
                      <span class="title">Installation and Deployment In Microsoft Dynamics CRM 2014</span>
                    </b>
                      
                  </div>
                  <div class="row audience">
                    受众对象:
                    <span class="audiencer">
                      Application Consultant,Technology Consultant,Developer,Pre-Sales
                    </span>
                  </div>
                  <div data-truncate="2" class="row description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
                  </div>
                  <div class="row more"><a href="#">More</a></div>
                  <div class="row pagement pad-top">
                    <div class="one fifth">
                      <button class="start success half-gap-bottom small">报名</button>
                      <button class="feedback info small">反馈</button>
                    </div>
                    <div class="two fifths">
                      <p class='duration'>时长:5 HRS 13 MINS</p>
                      <p class="level">LEVEL:200</p>
                    </div>
                    <div class="two fifths">
                      <p class="pub">时间:2014年1月1日</p>
                      <p class="city">城市:上海</p>
                    </div>
                  </div>                  
                </div>
                <div class="one twelfth">
                  <ul class="checklist">
                    <li></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>          
        </div>
        <div class="one half">
          <div class="row">
            <div class="one fourth padded">
              <div class="avatar">
                <%=image_tag "avatar.jpg", :alt => "avatar" %>
              </div>
            </div>
            <div class="three fourth padded">
              <div class="row">
                <div class="eleven twelfth">
                  <div class="row c-title">
                    <b>
                      <span class="code">80539AE</span>
                      <span class="title">Installation and Deployment In Microsoft Dynamics CRM 2014</span>
                    </b>
                      
                  </div>
                  <div class="row audience">
                    受众对象:
                    <span class="audiencer">
                      Application Consultant,Technology Consultant,Developer,Pre-Sales
                    </span>
                  </div>
                  <div data-truncate="2" class="row description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
                  </div>
                  <div class="row more"><a href="#">More</a></div>
                  <div class="row pagement pad-top">
                    <div class="one fifth">
                      <button class="start success half-gap-bottom small">报名</button>
                      <button class="feedback info small">反馈</button>
                    </div>
                    <div class="two fifths">
                      <p class='duration'>时长:5 HRS 13 MINS</p>
                      <p class="level">LEVEL:200</p>
                    </div>
                    <div class="two fifths">
                      <p class="pub">时间:2014年1月1日</p>
                      <p class="city">城市:上海</p>
                    </div>
                  </div>                  
                </div>
                <div class="one twelfth">
                  <ul class="checklist">
                    <li></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>          
        </div>
      </article>
      <article class="row">
        <div class="one half">
          <div class="row">
            <div class="one fourth padded">
              <div class="avatar">
                <%=image_tag "avatar.jpg", :alt => "avatar" %>
              </div>
            </div>
            <div class="three fourth padded">
              <div class="row">
                <div class="eleven twelfth">
                  <div class="row c-title">
                    <b>
                      <span class="code">80539AE</span>
                      <span class="title">Installation and Deployment In Microsoft Dynamics CRM 2014</span>
                    </b>
                      
                  </div>
                  <div class="row audience">
                    受众对象:
                    <span class="audiencer">
                      Application Consultant,Technology Consultant,Developer,Pre-Sales
                    </span>
                  </div>
                  <div data-truncate="2" class="row description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
                  </div>
                  <div class="row more"><a href="#">More</a></div>
                  <div class="row pagement pad-top">
                    <div class="one fifth">
                      <button class="start success half-gap-bottom small">报名</button>
                      <button class="feedback info small">反馈</button>
                    </div>
                    <div class="two fifths">
                      <p class='duration'>时长:5 HRS 13 MINS</p>
                      <p class="level">LEVEL:200</p>
                    </div>
                    <div class="two fifths">
                      <p class="pub">时间:2014年1月1日</p>
                      <p class="city">城市:上海</p>
                    </div>
                  </div>                  
                </div>
                <div class="one twelfth">
                  <ul class="checklist">
                    <li></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>          
        </div>
        <div class="one half">
          <div class="row">
            <div class="one fourth padded">
              <div class="avatar">
                <%=image_tag "avatar.jpg", :alt => "avatar" %>
              </div>
            </div>
            <div class="three fourth padded">
              <div class="row">
                <div class="eleven twelfth">
                  <div class="row c-title">
                    <b>
                      <span class="code">80539AE</span>
                      <span class="title">Installation and Deployment In Microsoft Dynamics CRM 2014</span>
                    </b>
                      
                  </div>
                  <div class="row audience">
                    受众对象:
                    <span class="audiencer">
                      Application Consultant,Technology Consultant,Developer,Pre-Sales
                    </span>
                  </div>
                  <div data-truncate="2" class="row description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
                  </div>
                  <div class="row more"><a href="#">More</a></div>
                  <div class="row pagement pad-top">
                    <div class="one fifth">
                      <button class="start success half-gap-bottom small">报名</button>
                      <button class="feedback info small">反馈</button>
                    </div>
                    <div class="two fifths">
                      <p class='duration'>时长:5 HRS 13 MINS</p>
                      <p class="level">LEVEL:200</p>
                    </div>
                    <div class="two fifths">
                      <p class="pub">时间:2014年1月1日</p>
                      <p class="city">城市:上海</p>
                    </div>
                  </div>                  
                </div>
                <div class="one twelfth">
                  <ul class="checklist">
                    <li></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>          
        </div>
      </article>                            
    </div>
</div>