<% content_for :app_head do %>
  <%= stylesheet_link_tag    "pages/default/category-bundle-mobile" %>
  <%= javascript_include_tag "pages/default/category-bundle-mobile" %>
  <script type="text/javascript">
  jQuery(function($) {

  });
  </script>
  <%= yield :head %>
<% end %>
<div class="container">
  <article class="row logo-container">
    <div class="one whole mobile half-padded">
      <a href="/" title="View Larger Image" class="block blue logoimg pad-top half-pad-left half-pad-right pad-bottom">
        <%= image_tag('mobile/logom.png')%>
      </a>
    </div>
  </article>
  <div class="seacher row">
    <div class="one whole search box ">
      <div class="row">
          <div class="four mobile fifths">
            <form action="/courses/search" method='get' id='parten-search'>
              <input type="text" name="name" placeholder="课程名称">  
            </form>
          </div>
          <div class="one mobile fifths parten-search"><span class="suffix"><i class="icon-search"></i></span></div>
        </div>
    </div>
  </div> 


  <% if @courses.length > 0%>
    <%@courses.each do |course|%>
      <article class="row box">
          <div class="one fourth mobile">
            <a href="<%=course_path(course)%>" >
              <%= image_tag(show_small_avatar(course))%>  
            </a>
          </div>
          <div class="three fourths mobile half-pad-left">
            <div class="row">
              <div class="one whole name-holder">
                <a href="<%=course_path(course)%>" >
                  <strong><%= course.name_cn %></strong>
                </a>
              </div>
            </div>
            <div class="row">
              <div class="three fourths mobile">
                <div class="row">
                  <div class="one whole">
                    日期:<%= course.start_date.strftime('%Y年%m月%d日')%>
                  </div>
                  <div class="one whole">
                    城市:<%= course.show_city%>
                  </div>
                </div>
              </div>
              <div class="one fourth mobile">
                <div class="row">
                  <div class="one whole align-right">
                    <%= course.duration%>天
                  </div>
                </div>
              </div>
            </div>
          </div>        
      </article>    
    <%end%>
  <% else %>
    <article class="no-data absolute row middle">
        <div class="one whole box align-center">
          抱歉，没有查到相关课程
        </div>
    </article>
  <% end %>     
</div>