<% content_for :app_head do %>
  <%= stylesheet_link_tag    "pages/user/orders-bundle" %>
  <%= javascript_include_tag "pages/user/orders-bundle" %>
  <script type="text/javascript">
  jQuery(function($) {

  });
  </script>
  <%= yield :head %>
<% end %>

<div class="row triple-gap-top triple-pad-top triple-pad-bottom">
    <div class="container main triple-padded">
      <article class="row">
        <div class="tabs ipad">
          <ul role="tablist" class='tablist'>
            <li role="tab" class='one fourth' aria-controls="#tab1" href="<%= user_orders_path(:t => 'w')%>" >已报名的课程</li>
            <li role="tab" class='one fourth' aria-controls="#tab2" href="<%= user_orders_path(:t => 'n')%>" >正在上的课程</li>
            <li role="tab" class='one fourth' aria-controls="#tab3" href="<%= user_orders_path(:t => 'p')%>" >参与过的课程</li>
            <li role="tab" class='one fourth' aria-controls="#tab4" href="<%= user_orders_path(:t => 'c')%>" >已取消的课程</li>
          </ul>
          <div id="tab1" role="tabpanel">
    		<table>
    		  <thead>
    		    <tr>
    		      <th class='align-center' style="width:40%;">名称</th>
    		      <th class='align-center' style="width:10%;">内容类型</th>
    		      <th class='align-center' style="width:10%;">城市</th>
    		      <th class='align-center' style="width:10%;">开始时间<br/>结束时间</th>
    		      <th class='align-center' style="width:10%;">系统审核</th>
    		      <th class='align-center' style="width:10%;">企业审核</th>
    		      <th class='align-center' style="width:10%;">操作</th>
    		    </tr>
    		  </thead>
    		  <tbody>
    		  	<%= render :partial => '/user/orders/table',:locals => { :orders => @orders } %>
    		  </tbody>
    		</table>
          </div>
          <div id="tab2" role="tabpanel">
    		<table>
    		  <thead>
    		    <tr>
    		      <th class='align-center' style="width:40%;">名称</th>
    		      <th class='align-center' style="width:10%;">内容类型</th>
    		      <th class='align-center' style="width:10%;">城市</th>
    		      <th class='align-center' style="width:10%;">开始时间<br/>结束时间</th>
    		      <th class='align-center' style="width:10%;">系统审核</th>
    		      <th class='align-center' style="width:10%;">企业审核</th>
    		      <th class='align-center' style="width:10%;">操作</th>
    		    </tr>
    		  </thead>
    		  <tbody>
    		  	
    		  </tbody>
    		</table>          
          </div>
          <div id="tab3" role="tabpanel">
    		<table>
    		  <thead>
    		    <tr>
    		      <th class='align-center' style="width:40%;">名称</th>
    		      <th class='align-center' style="width:10%;">内容类型</th>
    		      <th class='align-center' style="width:10%;">城市</th>
    		      <th class='align-center' style="width:10%;">开始时间<br/>结束时间</th>
    		      <th class='align-center' style="width:10%;">系统审核</th>
    		      <th class='align-center' style="width:10%;">企业审核</th>
    		      <th class='align-center' style="width:10%;">操作</th>
    		    </tr>
    		  </thead>
    		  <tbody>
    		  	
    		  </tbody>
    		</table>          
          </div>
          <div id="tab4" role="tabpanel">
    		<table>
    		  <thead>
    		    <tr>
    		      <th class='align-center' style="width:40%;">名称</th>
    		      <th class='align-center' style="width:10%;">内容类型</th>
    		      <th class='align-center' style="width:10%;">城市</th>
    		      <th class='align-center' style="width:10%;">开始时间<br/>结束时间</th>
    		      <th class='align-center' style="width:10%;">系统审核</th>
    		      <th class='align-center' style="width:10%;">企业审核</th>
    		      <th class='align-center' style="width:10%;">操作</th>
    		    </tr>
    		  </thead>
    		  <tbody>
    		  	
    		  </tbody>
    		</table>          
          </div>                    
        </div>
      </article>  


  	  <article class="confirm-box row"> 
  	  	<div class="one whole padded">
  	  	  <div class="content box  red align-center">  
  	  	    <strong>确定要取消？</strong>
  	  	  </div>     
  	  	  <div class="row double-pad-top double-pad-bottom">
  	  	    <button class="info one half warning sure-operation">确定</button>
  	  	    <button class="info one half success cancel-operation">关闭</button>
  	  	  </div>  
  	  	</div>
  	  </article>


    </div>
</div>