<% content_for :app_head do %>
  <%= stylesheet_link_tag    "pages/user/feedbacks-bundle" %>
  <%= javascript_include_tag "pages/user/feedbacks-bundle" %>
  <script type="text/javascript">
  jQuery(function($) {

  });
  </script>
  <%= yield :head %>
<% end %>
<div class="row triple-gap-top triple-pad-top triple-pad-bottom">
    <div class="container main triple-padded">
      <article class="row">
        <div class="tabs ipad">
          <ul role="tablist" class='tablist'>
            <li role="tab" class='one fourth' aria-controls="#tab1" href="<%= user_feedbacks_path %>" >已反馈课程</li>
            <li role="tab" class='one fourth' aria-controls="#tab2" href="<%= user_feedbacks_path(:t =>'w') %>" >未反馈课程</li>
          </ul>
          <div id="tab1" role="tabpanel">
          	<%= render :partial => '/user/feedbacks/tab1',:locals => {:feedbacks => @data[:feedbacks]} %>
          </div>
          <div id="tab2" role="tabpanel">
          	<%= render :partial => '/user/feedbacks/tab2',:locals => {:courses => @data[:courses]} %>    
          </div>                    
        </div>
      </article> 
    </div>
</div>      