<% content_for :app_head do %>
  <%= stylesheet_link_tag    "pages/admin/companies-bundle" %>
  <%= javascript_include_tag "pages/admin/companies-bundle" %>
  <script type="text/javascript">
  jQuery(function($) {

  });
  </script>
  <%= yield :head %>
<% end %>


<% content_for :left_side do %>
  <%= render :partial => 'admin/partical/left_side' %>
<% end %>

<% content_for :right_side do %>
  <div class="row right-head triple-pad-left">
    <span class="fa fa-flag-o"></span><span class="locate">单位管理<i class="fa fa-angle-double-right"></i>单位列表</span>
  </div>
  <div class="row right-notice triple-pad-left">
    <div class="notice-content double-gap-top double-gap-bottom  triple-gap-right double-pad-left pad-top pad-bottom">
      <i class="fa fa-info"></i>
      <span>增加/删除/修改单位，请确认是否已增加了“其他”这个特殊的单位</span>
    </div>
  </div>
  <div class="row right-main triple-pad-left">
    <div class="tabs ipad">
      <ul role="tablist">
        <li role="tab" aria-controls="#tab1" class='one fourth'>单位列表</li>
        <li role="tab" aria-controls="#tab2" class='one fourth'>新增单位</li>
      </ul>

      <div id="tab1" role="tabpanel">
        <table class="responsive" data-max="15">
          <thead>
            <tr>
              <th>名称</th>
              <th>合作类型</th>
              <th>等级</th>
              <th>合作状态</th>
            </tr>
          </thead>
          <tbody>
            <% if @companies.length > 0 %>
              <% @companies.each do |company|  do %>
                <tr>
                  <td><%= company.name %></td>
                  <td><%= company.cooperate %></td>
                  <td>Table cell</td>
                  <td>Table cell</td>
                </tr>
              <% end %>
            <% else %>
              <tr>
                <td colspan="2">您还没有添加任何的单位</td>  
              </tr>  
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <td>Footer cell</td>
              <td>Footer cell</td>
              <td>Footer cell</td>
              <td>Footer cell</td>
            </tr>
          </tfoot>
        </table>
      </div>

      <div id="tab2" role="tabpanel">
        <form class='info'>
          <fieldset>
            <legend>information</legend>
            <div class="row">
              <div class="one half padded">
                <label for="name">用户名</label>
                <input id="name" type="text" name='user[name]' placeholder="username">
              </div>
              <div class="one half padded">
                <label for="email">邮箱</label>
                <input id="email" type="email" name='user[email]' placeholder="you@example.com">
              </div>
            </div>
            <div class="row">
              <div class="one half padded">
                  <label for="mobile">手机号</label>
                  <input id="mobile"  nam='user[mobile]' type="text" placeholder="your mobile number">
              </div>
              <div class="one half padded">
                  <label for="position">职位</label>
                  <input id="position" name='user[position]' type="text" placeholder="your position">
              </div>            
            </div>
            <div class="row">
              <div class="one half padded">
                  <label for="qq">QQ帐号</label>
                  <input id="qq" type="text" name='user[qq]' placeholder="your qq account">
              </div>
              <div class="one half padded">
                  <label for="wechart">微信帐号</label>
                  <input id="wechart"  name='user[wechart]' type="text" placeholder="your wechart account">
              </div>            
            </div>
            <div class="row">
              <div class="one half padded">
                  <label for="skype">Skype帐号</label>
                  <input id="skype" name='user[skype]' type="text" placeholder="your skype account">
              </div>
              <div class="one half padded">
                  <label for="gtalk">Gtalk帐号</label>
                  <input id="gtalk" name='user[gtalk]' type="text" placeholder="your gtalk account">
              </div>            
            </div>
            <div class="row">
              <div class="one half padded">
                  <label for="twitter">Twitter帐号</label>
                  <input id="twitter" name='user[twitter]' type="text" placeholder="your twitter account">
              </div>
              <div class="one half padded">
                  <label for="facebook">Facebook帐号</label>
                  <input id="facebook" name='user[facebook]' type="text" placeholder="your facebook account">
              </div>            
            </div>          
            <div class="row">
              <div class="one whole padded">
                <label for="message">个人简介</label>
                <textarea id="message" name='user[description]' placeholder="Enter your message..."></textarea>
              </div>
            </div>
            <button class="block info info-submit">提交</button>
          </fieldset>
        </form>
      </div>
  </div>
<% end %>
