<% content_for :app_head do %>
  <%= stylesheet_link_tag    "pages/admin/companies-bundle" %>
  <%= javascript_include_tag "pages/admin/companies-bundle" %>
  <script type="text/javascript">
  </script>
  <%= yield :head %>
<% end %>


<% content_for :left_side do %>
  <%= render :partial => 'admin/partical/left_side' %>
<% end %>

<% content_for :right_side do %>
  <div class="flash-notice row success double-padded"></div>
  <div class="row right-head triple-pad-left triple-pad-right">
    <span class="fa fa-flag-o"></span><span class="locate">单位管理<i class="fa fa-angle-double-right"></i>单位列表</span>
  </div>
  <div class="row right-notice triple-pad-left triple-pad-right">
    <div class="notice-content double-gap-top double-gap-bottom double-pad-left pad-top pad-bottom">
      <i class="fa fa-info"></i>
      <span>增加/删除/修改单位，请确认是否已增加了“其他”这个特殊的单位</span>
    </div>
  </div>
  <div class="row right-main triple-pad-left">
    <div class="tabs ipad">
      <ul role="tablist">
        <li role="tab" aria-controls="#tab1" class='one fourth tab-nav'>单位列表</li>
        <% if current_user.is_admin? %>
          <li role="tab" aria-controls="#tab2" class='one fourth tab-nav'>新增/编辑&nbsp;单位</li>
        <% end %>
        
      </ul>

      <div id="tab1" role="tabpanel">
        <table class="responsive <%= @companies.length > 0 ? 'info' : 'error' %>" data-max="15">
          <thead>
            <tr>
              <th>名称</th>
              <th>管理员</th>
              <th>合作类型</th>
              <th>等级</th>
              <th>合作状态</th>
              <th>有效报名<br />人天</th>
              <th>创建时间</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <% if @companies['data'].length > 0 %>
              <% @companies['data'].each do |company|%>
                <tr>
                  <td><%= company.name %></td>
                  <td><%= company.try(:manager).try(:name) %></td>
                  <td><%= Company::TYPE_HASH[company.type] %></td>
                  <td><%= company.level %></td>
                  <td><%= Company::STATUS_HASH[company.status]%></td>
                  <td><%= company.enroll_count%></td>
                  <td><%= company.created_at.strftime("%F")%></td>
                  <td>
                    <a href="javascript:void(0);" class='edit-company' id="<%= company.id.to_s %>">
                      修改/查看
                    </a>
                    <% if current_user.is_admin? %>
                      <a href="javascript:void(0)" class="delete-company" data-cid="<%= company.id.to_s %>">终止合作</a>
                    <% end %>
                    
                  </td>
                </tr>
              <% end %>
            <% else %>
              <tr>
                <td colspan="8" class='no-data'>您还没有添加任何的单位</td>  
              </tr>  
            <% end %>
          </tbody>
        </table>
          <%= admin_paginator_ajax@companies,nil,nil,nil) %>
      </div>

      <div id="tab2" role="tabpanel">
        <form class='info new-company'>
          <fieldset>
            <legend>information</legend>
            <div class='form-detail'>
              <%= render :partial => '/admin/companies/form',:locals => {:company => @company}%>
            </div>
            <% if current_user.is_admin? %>
              <button class="block info info-submit">提交</button>
            <% end %>
            
          </fieldset>
        </form> 
      </div>
  </div>
<% end %>
