<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>注册页</title>
    <!--[if lt IE 8]>
      <div class='low-version' style='color:#fff;height:100px;line-height:100px;background:#9a3d3d;font-weight:bold; text-align:center;'>
    您当前的浏览器版本过低,请使用IE8及以上版本
    </div>
    <![endif]-->      
    <%= stylesheet_link_tag    'layouts/app-layout', media: 'all' %>
    <%= javascript_include_tag 'layouts/app-layout' %>
    <%= stylesheet_link_tag "pages/default/regist-bundle", :media => "all" %>
    <%= javascript_include_tag "pages/default/regist-bundle", :media => "all" %>      
    <%= csrf_meta_tags %> 
    <script type="text/javascript">
      jQuery(function($) {
        $('input,textarea').placeholder();
      });
    </script>
  </head>
  <body class="login">
    <div class="login-header row triple-padded">
      <div class="one fourth logo-container">
        <a href="/"><%=image_tag "logo.png", :class => 'logo',:alt => "logo" %></a>
      </div>
    </div>
    <div class="login-wrapper row ">
      <form role="form" class='form one thirds double-padded'>
        <div class="row padded ipt-container">
          <div class="one small-tablet sixth">
            <span class="prefix large"><span class="fa fa-user "></span></span>
          </div>
          <div class="five small-tablet sixths">
            <input type="text" name="name" class='large' placeholder="请输入姓名">
            <div class='tooltip name'></div>
          </div>       
        </div>   
        <div class="row padded ipt-container">
          <div class="one small-tablet sixth">
            <span class="prefix large"><span class="fa fa-envelope-o "></span></span>
          </div>
          <div class="five small-tablet sixths">
            <input type="text" name="email" class='large' placeholder="请输入邮箱"  >
            <div class='tooltip email'></div>
          </div>       
        </div> 
        <div class="row padded ipt-container">
          <div class="one small-tablet sixth">
            <span class="prefix large"><span class="fa fa-mobile "></span></span>
          </div>
          <div class="five small-tablet sixths">
            <input type="text" name="mobile" class='large' placeholder="手机号码"  >
            <div class='tooltip mobile'></div>
          </div>       
        </div> 
        <div class="row padded ipt-container">
          <div class="one small-tablet sixth">
            <span class="prefix large"><span class="fa fa-unlock-alt"></span></span>
          </div>
          <div class="five small-tablet sixths">
            <input type="password" name="password" class='large' placeholder="密码">
            <div class='tooltip password'></div>
          </div>
        </div>    
        <div class="padded ipt-container">
          <div class="one small-tablet sixth">
            <span class="prefix large"><span class="fa fa-building"></span></span>
          </div>  
          <div class="five small-tablet sixths">
            <span class="select-wrap large">
              <select class="unselected" name='company'>
                <option value="" disabled="" selected="">所属公司</option>
                <% @companis.each do |company| %>
                  <option class='large' value="<%= company.id.to_s%>"><%=company.name%></option>
                <% end %>
              </select>
            </span>
            <div class='tooltip company'></div>        
          </div>      
        </div>
        <div class="row padded">
          <button class="one whole large reg-btn">立即注册</button>
        </div>
        <div class="row double-pad-left padded-top">
          <p>
            <strong ><a href="/login">登录</a></strong>
          </p>
        </div>        
      </form>
    </div>
  </body>
</html>