<% if courses['data'].length > 0 %>
  <% courses['data'].each do |course|%>
    <tr>
      <td><%= link_to course.name_cn,course_path(course),:class => 'noicon',:target => '_blank'%></td>
      <td><%= course.start_date.strftime('%Y/%m/%d') %><br/><%= course.end_date.strftime('%Y/%m/%d') %></td>
      <td><%= course.evaluation_general %></td>
      <td><%= course.evaluation_instructor %></td>
      <td><%= course.city %></td>
      <td><%= course.content_type%></td>
      <td>
        <a href="javascript:void(0);" class='show-feedback' data-id="<%= course.id.to_s %>">查看反馈</a>
      </td>
    </tr>
  <% end %>
<% else %>
  <tr>
    <td colspan="8" class='no-data align-center'>没有查到任何数据</td>  
  </tr>  
<% end %>