<% content_for :app_head do %>
  <%= stylesheet_link_tag    "pages/default/index-bundle" %>
  <%= javascript_include_tag "pages/default/index-bundle" %>
  <script type="text/javascript">
  jQuery(function($) {

  });
  </script>
  <%= yield :head %>
<% end %>
<div class="row triple-gap-top triple-pad-top triple-pad-bottom">
    <div class="container main triple-padded">
      <article class="row">
        <div class="one fifth two-up-small-tablet two-up-mobile padded rotateInDownLeft animated">
          <a href="/category?t=ax" class="nav-box block charcoal">
           <h1 class="responsive">AX培训课</h1>
           <%= image_tag('mobile/icon2.png',:class => 'absolute middle')%>
          </a>
        </div>
        <div class="one fifth two-up-small-tablet two-up-mobile padded bounceInDown animated">
          <a href="/category?t=crm" class="nav-box block asphalt">
            <h1 class="responsive">CRM培训课</h1>
            <%= image_tag('mobile/icon1.png',:class => 'absolute middle ')%>
          </a>
        </div>
        <div class="one fifth two-up-small-tablet two-up-mobile padded bounceInUp animated">
          <a href="/category?t=ax+crm" class="nav-box block green">
            <h1 class="responsive">软技能培训课</h1>
            <%= image_tag('mobile/icon3.png',:class => 'absolute middle ')%>
          </a>
        </div>
        <div class="one fifth two-up-small-tablet two-up-mobile padded rotateInUpRight animated">
          <a href="/category?t=qt" class="nav-box block blue">
            <h1 class="responsive">免费研讨班</h1>
            <%= image_tag('mobile/icon4.png',:class => 'absolute middle ')%>
          </a>
        </div>
        <div class="one fifth two-up-small-tablet two-up-mobile padded bounceInLeft animated">
          <a href="/user/users"class="nav-box block purple">
            <h1 class="responsive">个人中心</h1>
            <%= image_tag('mobile/icon7.png',:class => 'absolute middle ')%>
          </a>
        </div>        
        <div class="one fifth two-up-small-tablet two-up-mobile padded bounceInLeft animated">
          <a href="/user/orders" class="nav-box block yellow">
            <h1 class="responsive">我的报名</h1>
            <%= image_tag('mobile/icon5.png',:class => 'absolute middle ')%>
          </a>
        </div>
        <div class="one fifth two-up-small-tablet two-up-mobile padded rotateInDownLeft animated">
          <a href="/user/feedbacks" class="nav-box block orange">
            <h1 class="responsive">我的反馈</h1>
            <%= image_tag('mobile/icon6.png',:class => 'absolute middle ')%>
          </a>
        </div>
        <div class="one fifth two-up-small-tablet two-up-mobile padded bounceInDown animated">
          <a href="http://www.microsoft.com/zh-cn/dynamics/default.aspx" class="nav-box block red noicon">
            <h1 class="responsive">Dynamics中国官网</h1>
            <%= image_tag('mobile/icon9.png',:class => 'absolute middle ')%>
          </a>
        </div>
        <div class="one fifth two-up-small-tablet two-up-mobile padded bounceInUp animated">
          <a href="https://mbspartner.microsoft.com/Landing" class="nav-box block pink noicon">
            <h1 class="responsive">Dynamics自学门户</h1>
            <%= image_tag('mobile/icon10.png',:class => 'absolute middle ')%>
          </a>
        </div>
        <div class="one fifth two-up-small-tablet two-up-mobile padded rotateInUpRight animated">
          <a href="" class="nav-box block turquoise">
            <h1 class="responsive">致电客服<br/>010-85892607</h1>
            
            <%= image_tag('mobile/icon8.png',:class => 'absolute middle ')%>
          </a>
        </div>
      </article>  
    </div>
  
</div>
