<% content_for :app_head do %>
  <%= stylesheet_link_tag    "pages/default/index-bundle" %>
  <%= javascript_include_tag "pages/default/index-bundle" %>
  <script type="text/javascript">
  jQuery(function($) {

  });
  </script>
  <%= yield :head %>
<% end %>
<div class="row triple-gap-top triple-pad-top triple-pad-bottom">
    <div class="container main triple-padded">
      <article class="row">
        <div class="one fifth two-up-small-tablet two-up-mobile padded bounceInRight animated">
          <a href="/category?t=crm" class="nav-box block crm">
            <h4 class="">CRM培训课</h4>
            <%= image_tag('tab_icon/crm.png',:class => 'absolute')%>
          </a>
        </div>
        <div class="one fifth two-up-small-tablet two-up-mobile padded bounceInRight animated">
          <a href="/category?t=ax" class="nav-box block ax">
           <h4 class="">AX培训课</h4>
           <%= image_tag('tab_icon/ax.png',:class => 'absolute')%>
          </a>
        </div>
        <div class="one fifth two-up-small-tablet two-up-mobile padded bounceInRight animated">
          <a href="/category?t=ax_crm" class="nav-box block soft">
            <h4 class="">软技能培训课</h4>
            <%= image_tag('tab_icon/soft.png',:class => 'absolute')%>
          </a>
        </div>
        <div class="one fifth two-up-small-tablet two-up-mobile padded bounceInRight animated">
          <a href="/category?t=f" class="nav-box block free">
            <h4 class="">免费研讨班</h4>
            <%= image_tag('tab_icon/free.png',:class => 'absolute ')%>
          </a>
        </div>
        <div class="one fifth two-up-small-tablet two-up-mobile padded bounceInRight animated">
          <a href="/user/orders" class="nav-box block enroll">
            <h4 class="">我的报名</h4>
            <%= image_tag('tab_icon/enroll.png',:class => 'absolute ')%>
          </a>
        </div>
        <div class="one fifth two-up-small-tablet two-up-mobile padded bounceInRight animated">
          <a href="/user/feedbacks" class="nav-box block feed">
            <h4 class="">我的反馈</h4>
            <%= image_tag('tab_icon/feed.png',:class => 'absolute ')%>
          </a>
        </div>        
        <div class="one fifth two-up-small-tablet two-up-mobile padded bounceInRight animated">
          <a href="/user/users"class="nav-box block personal">
            <h4 class="">个人中心</h4>
            <%= image_tag('tab_icon/user.png',:class => 'absolute ')%>
          </a>
        </div>   
        <div class="one fifth two-up-small-tablet two-up-mobile padded bounceInRight animated">
          <a href="/tel" class="nav-box block tel">
            <h4 class="">致电客服<br/>010-85892607</h4>
            <%= image_tag('tab_icon/chart.png',:class => 'absolute ')%>
          </a>
        </div>             
        <div class="one fifth two-up-small-tablet two-up-mobile padded bounceInRight animated">
          <a href="http://www.microsoft.com/zh-cn/dynamics/default.aspx" target='_blank' class="nav-box block net1 noicon">
            <h4 class="">Dynamics中国官网</h4>
            <%= image_tag('tab_icon/net1.png',:class => 'absolute ')%>
          </a>
        </div>
        <div class="one fifth two-up-small-tablet two-up-mobile padded bounceInRight animated">
          <a href="https://mbspartner.microsoft.com/Landing" target='_blank' class="nav-box block net2 noicon">
            <h4 class="">Dynamics自学门户</h4>
            <%= image_tag('tab_icon/stu.png',:class => 'absolute ')%>
          </a>
        </div>
      </article>  
    </div>
</div>
