<% content_for :app_head do %>
  <%= stylesheet_link_tag    "pages/default/index-bundle-mobile" %>
  <%= javascript_include_tag "pages/default/index-bundle-mobile" %>
  <script type="text/javascript">
  jQuery(function($) {

  });
  </script>
  <%= yield :head %>
<% end %>
<div class="container">
  <article class="row">
    <div class="one whole mobile half-padded bounceInRight animated blue">
      <a href="/" title="View Larger Image" class="block blue logoimg pad-top half-pad-left half-pad-right pad-bottom">
        <%= image_tag('mobile/logom.png')%>
      </a>
    </div>
  </article>
  <article class="row">
    <div class="one third mobile half-padded bounceInRight animated">
      <a href="<%=category_index_path(:t => 'crm')%>" title="View Larger Image" class="block crm blue align-right half-pad-top half-pad-left half-pad-right pad-bottom">
        <h6 class="double-pad-bottom align-left">CRM培训</h6>
        <%= image_tag('mobile/crm.png',:class => '')%>
      </a>
    </div>
    <div class="one third mobile half-padded bounceInRight animated">
      <a href="<%=category_index_path(:t => 'ax')%>" title="View Larger Image" class="block ax blue align-right half-pad-top half-pad-left half-pad-right pad-bottom">
        <h6 class="double-pad-bottom align-left">AX培训</h6>
        <%= image_tag('mobile/ax.png',:class => '') %>
      </a>
    </div>
    <div class="one third mobile half-padded bounceInRight animated">
      <a href="<%=category_index_path(:t => 'ax_crm')%>" title="View Larger Image" class="block softkill blue align-right half-pad-top half-pad-left half-pad-right pad-bottom">
        <h6 class="double-pad-bottom align-left">软技能培训</h6>
        <%= image_tag('mobile/soft.png',:class => '') %>
      </a>
    </div>
  </article>
  <article class="row">
    <div class="one third mobile half-padded bounceInRight animated">
      <a href="<%=category_index_path(:t => 'f')%>" title="View Larger Image" class="block free blue align-right half-pad-top half-pad-left half-pad-right pad-bottom">
        <h6 class="double-pad-bottom align-left">免费研讨班</h6>
        <%= image_tag('mobile/free.png',:class => '') %>
      </a>
    </div>
    <div class="one third mobile half-padded bounceInRight animated">
      <a href="<%= orders_path(:t => 'w')%>" title="View Larger Image" class="block blue align-right mycourse half-pad-top half-pad-left half-pad-right pad-bottom">
        <h6 class="double-pad-bottom align-left">我的报名</h6>
        <%= image_tag('mobile/enroll.png',:class => '') %>
      </a>
    </div>
    <div class="one third mobile half-padded bounceInRight animated">
      <a href="/feedbacks?t=w" title="View Larger Image" class="block feedback blue align-right half-pad-top half-pad-left half-pad-right pad-bottom">
        <h6 class="double-pad-bottom align-left">我的反馈</h6>
        <%= image_tag('mobile/feed.png',:class => '') %>
      </a>
    </div>
  </article>
  <article class="row">
    <div class="one third mobile half-padded bounceInRight animated">
        <a href="<%= users_path %>" title="View Larger Image" class="block personal blue align-right half-pad-top half-pad-left half-pad-right pad-bottom">
          <h6 class="double-pad-bottom align-left">个人中心</h6>
          <%= image_tag('mobile/user.png',:class => '') %>
       </a>      
    </div>
    <div class="one third mobile half-padded bounceInRight animated">
      <a href="tel:010-85892607" title="View Larger Image" class="block tel noicon blue align-right half-pad-top half-pad-left half-pad-right pad-bottom">
        <h6 class="double-pad-bottom align-left">致电客服</h6>
        <%= image_tag('mobile/chart.png',:class => '') %>
      </a>
    </div>
    <div class="one third mobile half-pad-right half-pad-left bounceInRight animated">
      <div class="one whole mobile half-pad-top  half-pad-bottom">
        <a href="http://www.microsoft.com/zh-cn/dynamics/default.aspx" title="View Larger Image" class="block net blue">
          <h6 class="nets half-pad-left">Dynamics<br/>中国官网</h6>
        </a>
      </div>
      <div class="one whole mobile half-pad-top">
        <a href="https://mbspartner.microsoft.com/Landing" title="View Larger Image" class="block noicon cill  blue">
          <h6 class="nets half-pad-left">Dynamics<br/>自学门户</h6>
        </a>
      </div>
    </div>
  </article>
  <article class='bottom static'>
    <div class="one whole mobile half-padded bounceInRight animated">
      <a href="<%=do_search_courses_path%>" title="View Larger Image" class="block blue search align-center pad-top half-pad-left half-pad-right pad-bottom">
        <h6 class="pad-right align-left">课程搜索<i class="icon-search pull-right half-gap-top"></i></h6>
      </a>
    </div>    
  </article>
</div>
<article class="row fixed bottom align-center icp box">
  <div class="one whole"><%=@icp%></div>
</article>