<% content_for :app_head do %>
  <%= stylesheet_link_tag    "pages/default/index-bundle" %>
  <%= javascript_include_tag "pages/default/index-bundle" %>
  <script type="text/javascript">
  jQuery(function($) {

  });
  </script>
  <%= yield :head %>
<% end %>
<div class="row triple-gap-top triple-pad-top triple-pad-bottom">
    <div class="container main triple-padded">
      <article class="row">
        <div class="one fifth two-up-small-tablet two-up-mobile padded bounceInLeft animated">
          <a href="/category?t=crm" class="nav-box block asphalt">
            <h4 class="double-gap-left">CRM培训课</h4>
            <%= image_tag('tab_icon/crm.png',:class => 'absolute')%>
          </a>
        </div>
        <div class="one fifth two-up-small-tablet two-up-mobile padded bounceInLeft animated">
          <a href="/category?t=ax" class="nav-box block charcoal">
           <h4 class="double-gap-left">AX培训课</h4>
           <%= image_tag('tab_icon/ax.png',:class => 'absolute')%>
          </a>
        </div>
        <div class="one fifth two-up-small-tablet two-up-mobile padded bounceInLeft animated">
          <a href="/category?t=ax_crm" class="nav-box block green">
            <h4 class="double-gap-left">软技能培训课</h4>
            <%= image_tag('tab_icon/soft.png',:class => 'absolute')%>
          </a>
        </div>
        <div class="one fifth two-up-small-tablet two-up-mobile padded bounceInLeft animated">
          <a href="/category?t=f" class="nav-box block blue">
            <h4 class="double-gap-left">免费研讨班</h4>
            <%= image_tag('tab_icon/free.png',:class => 'absolute ')%>
          </a>
        </div>
        <div class="one fifth two-up-small-tablet two-up-mobile padded bounceInLeft animated">
          <a href="/user/orders" class="nav-box block yellow">
            <h4 class="double-gap-left">我的报名</h4>
            <%= image_tag('tab_icon/enroll.png',:class => 'absolute ')%>
          </a>
        </div>
        <div class="one fifth two-up-small-tablet two-up-mobile padded bounceInLeft animated">
          <a href="/user/feedbacks" class="nav-box block orange">
            <h4 class="double-gap-left">我的反馈</h4>
            <%= image_tag('tab_icon/feed.png',:class => 'absolute ')%>
          </a>
        </div>        
        <div class="one fifth two-up-small-tablet two-up-mobile padded bounceInLeft animated">
          <a href="/user/users"class="nav-box block purple">
            <h4 class="double-gap-left">个人中心</h4>
            <%= image_tag('tab_icon/user.png',:class => 'absolute ')%>
          </a>
        </div>   
        <div class="one fifth two-up-small-tablet two-up-mobile padded bounceInLeft animated">
          <a href="" class="nav-box block turquoise">
            <h4 class="double-gap-left">致电客服<br/>010-85892607</h4>
            <%= image_tag('tab_icon/chart.png',:class => 'absolute ')%>
          </a>
        </div>             
        <div class="one fifth two-up-small-tablet two-up-mobile padded bounceInLeft animated">
          <a href="http://www.microsoft.com/zh-cn/dynamics/default.aspx" target='_blank' class="nav-box block red noicon">
            <h4 class="double-gap-left">Dynamics中国官网</h4>
            <%= image_tag('tab_icon/net1.png',:class => 'absolute ')%>
          </a>
        </div>
        <div class="one fifth two-up-small-tablet two-up-mobile padded bounceInLeft animated">
          <a href="https://mbspartner.microsoft.com/Landing" target='_blank' class="nav-box block pink noicon">
            <h4 class="double-gap-left">Dynamics自学门户</h4>
            <%= image_tag('tab_icon/stu.png',:class => 'absolute ')%>
          </a>
        </div>
      </article>  
    </div>
</div>
