<% content_for :app_head do %>
  <%= stylesheet_link_tag    "pages/default/order-bundle-mobile" %>
  <%= javascript_include_tag "pages/default/order-bundle-mobile" %>
  <script type="text/javascript">
  jQuery(function($) {

  });
  </script>
  <%= yield :head %>
<% end %>
<div class="container">
  <div class="row location half-gap-top half-gap-bottom padded">
    <div class="one whole mobile">
      <a href="javascript:history.back(); " class='block pull-left double-gap-right' ><i class="icon-chevron-sign-left large"></i></a>
      <div class=" mobile pull-left half-gap-top">
        <i class="icon-map-marker hafl-gap-right"></i>  
        <span class="locate">我的报名</span>
      </div>
    </div>
  </div>  
  <div class="seacher row">
    <div class="one whole search box ">
      <div class="row">
          <div class="four mobile fifths">
            <form action="/courses/search" method='get' id='parten-search'>
              <input type="text" name="name" placeholder="课程名称">  
            </form>
          </div>
          <div class="one mobile fifths parten-search"><span class="suffix"><i class="icon-search"></i></span></div>
        </div>
    </div>
  </div> 
  <div class="tabs mobile half-gap-top">
    <ul role="tablist row">
      <li role="tab" class='one third mobile' aria-controls="#tab1">当前报名</li>
      <li role="tab" class='one third mobile' aria-controls="#tab2">往期报名</li>
      <li role="tab" class='one third mobile' aria-controls="#tab3">取消报名</li>
    </ul>
    <div id="tab1" role="tabpanel">
      <% if @worders.length > 0%>
        <%@worders.each do |order|%>
          <article class="row box half-gap-top">
              <div class="one fourth mobile">
                <a href="<%=course_path(order.course)%>" >
                  <%= image_tag(show_small_avatar(order.course))%>  
                </a>
              </div>
              <div class="three fourths mobile half-pad-left">
                <div class="row">
                  <div class="one whole name-holder">
                    <a href="<%=course_path(order.course)%>" >
                      <strong><%= order.course.name_cn %></strong>
                    </a>
                  </div>
                </div>
                <div class="row">
                  <div class="two fourths mobile">
                    <div class="row">
                      <div class="one whole">
                        <%= order.course.start_date.strftime('%Y/%m/%d')%>
                      </div>
                      <div class="one whole">
                        城市:<%= order.course.show_city%>
                      </div>
                    </div>
                  </div>
                  <div class="two fourths mobile">
                    <div class="row">
                      <div class="one whole align-right">
                        <div>公司:<%=order.show_status%></div>
                        <div>系统:<%=order.show_state%></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>        
          </article>    
        <%end%>
      <% else %>
        <article class="no-data  row box ">
            <div class="one whole box align-center">
              抱歉，没有查到相关课程
            </div>
        </article>
      <% end %>  
    </div>
    <div id="tab2" role="tabpanel">
      <% if @porders.length > 0%>
        <%@porders.each do |order|%>
          <article class="row box half-gap-top">
              <div class="one fourth mobile">
                <a href="<%=course_path(order.course)%>" >
                  <%= image_tag(show_small_avatar(order.course))%>  
                </a>
              </div>
              <div class="three fourths mobile half-pad-left">
                <div class="row">
                  <div class="one whole name-holder">
                    <a href="<%=course_path(order.course)%>" >
                      <strong><%= order.course.name_cn %></strong>
                    </a>
                  </div>
                </div>
                <div class="row">
                  <div class="two fourths mobile">
                    <div class="row">
                      <div class="one whole">
                        <%= order.course.start_date.strftime('%Y/%m/%d')%>
                      </div>
                      <div class="one whole">
                        城市:<%= order.course.show_city%>
                      </div>
                    </div>
                  </div>
                  <div class="two fourths mobile">
                    <div class="row">
                      <div class="one whole align-right">
                        <div>公司:<%=order.show_status%></div>
                        <div>系统:<%=order.show_state%></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>        
          </article>    
        <%end%>
      <% else %>
        <article class="no-data  row box ">
            <div class="one whole box align-center">
              抱歉，没有查到相关课程
            </div>
        </article>
      <% end %>  
    </div>
    <div id="tab3" role="tabpanel">
      <% if @corders.length > 0%>
        <%@corders.each do |order|%>
          <article class="row box half-gap-top">
              <div class="one fourth mobile">
                <a href="<%=course_path(order.course)%>" >
                  <%= image_tag(show_small_avatar(order.course))%>  
                </a>
              </div>
              <div class="three fourths mobile half-pad-left">
                <div class="row">
                  <div class="one whole name-holder">
                    <a href="<%=course_path(order.course)%>" >
                      <strong><%= order.course.name_cn %></strong>
                    </a>
                  </div>
                </div>
                <div class="row">
                  <div class="two fourths mobile">
                    <div class="row">
                      <div class="one whole">
                        <%= order.course.start_date.strftime('%Y/%m/%d')%>
                      </div>
                      <div class="one whole">
                        城市:<%= order.course.show_city%>
                      </div>
                    </div>
                  </div>
                  <div class="two fourths mobile">
                    <div class="row">
                      <div class="one whole align-right">
                        <div>公司:<%=order.show_status%></div>
                        <div>系统:<%=order.show_state%></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>        
          </article>     
        <%end%>
      <% else %>
        <article class="no-data row box ">
            <div class="one whole box align-center">
              抱歉，没有查到相关课程
            </div>
        </article>
      <% end %>  
    </div>
  </div>      
</div>












    









