<% content_for :app_head do %>
  <%= stylesheet_link_tag    "pages/default/order-bundle-mobile" %>
  <%= javascript_include_tag "pages/default/order-bundle-mobile" %>
  <script type="text/javascript">
  jQuery(function($) {

  });
  </script>
  <%= yield :head %>
<% end %>
<div class="container">
  <article class="row pad-bottom">
    <div class="one whole">
      <ul class="button-group row">
        <li class='one third mobile'>
          <a class="yellow" href="<%=orders_path(:w => true)%>" aria-selected=true>当前报名</a>
        </li>
        <li class='one third mobile'>
          <a href="<%=orders_path(:p => true)%>" class="orange block">往期报名</a>
        </li>
        <li class='one third mobile'>
          <a href="<%=orders_path(:c => true)%>" class="red block">取消报名</a>
        </li>
      </ul>
    </div>
  </article>
  <% if @orders.length > 0 %>
  <%@orders.each do |order|%>
    <article class="row <%=change_bg(params)%> box">
      <a href="<%=course_path(order.course)%>" class='block'>
        <div class="one fourth mobile">
          <%= image_tag(show_small_avatar(order.course))%>  
        </div>
        <div class="three fourths mobile pad-left">
          <p class="name"><strong><%= order.course.name_en %></strong></p>
          <p class="other">
            <span class="city pad-right">城市:<%= order.course.show_city%></span>
            <span class="city">日期:<%= order.course.start_date.strftime('%Y年%m月%d日')%></span>
          </p>
        </div>      
      </a>
    </article>    
  <%end%>  
  <% else %>
    <article class="row box align-center">
      暂无数据
    </article>    
  <% end %>           
</div>