<% content_for :app_head do %>
  <%= stylesheet_link_tag    "pages/default/feedback-bundle-mobile" %>
  <script type="text/javascript">
  jQuery(function($) {

  });
  </script>
  <%= yield :head %>
<% end %>
<div class="container">
  <article class="row pad-bottom">
    <div class="one whole">
      <ul class="button-group row">
        <li class='one half mobile align-center'>
          <a class="yellow" href="<%=feedbacks_path(:t => 'w')%>" aria-selected=true>待反馈</a>
        </li>
        <li class='one half mobile align-center'>
          <a href="<%=feedbacks_path(:t => 'p')%>" class="orange block">已反馈</a>
        </li>
      </ul>
    </div>
  </article>
  <% if @courses.length > 0 %>
  <%@courses.each do |course|%>
    <article class="row box">
      <a href="<%=course_path(course)%>" class='block'>
        <div class="one fourth mobile">
          <%= image_tag(show_small_avatar(course))%>  
        </div>
        <div class="three fourths mobile pad-left">
          <p class="name"><strong><%= course.name_en %></strong></p>
          <p class="other">
            <span class="city pad-right">城市:<%= course.show_city%></span>
            <span class="city">日期:<%= course.start_date.strftime('%Y年%m月%d日')%></span>
          </p>
        </div>      
      </a>
    </article>    
  <%end%>
  <% else %>
    <article class="row align-center box">
      暂无数据
    </article>    
  <% end %>             
</div>