<% content_for :app_head do %>
  <%= stylesheet_link_tag    "pages/default/feedback-bundle-mobile" %>
  <script type="text/javascript">
  jQuery(function($) {

  });
  </script>
  <%= yield :head %>
<% end %>


<div class="container">
<!--   <article class="row logo-container">
    <div class="one whole mobile half-padded">
      <a href="/" title="View Larger Image" class="block blue logoimg pad-top half-pad-left half-pad-right pad-bottom">
        <%#= image_tag('mobile/logom.png')%>
      </a>
    </div>
  </article> -->
  <div class="row location half-gap-top half-gap-bottom padded">
    <div class="one third mobile">
      <a href="javascript:history.back();"><i class="icon-chevron-sign-left large"></i></a>
    </div>
    <div class="one third mobile">
      <i class="icon-map-marker hafl-gap-right large"></i>  
      <span class="locate">我的反馈</span>
    </div>
    <div class="one third mobile">
      <a href="/">
        <i class="icon-home pull-right large"></i>  
      </a>
    </div>
  </div>    
  <div class="seacher row">
    <div class="one whole search box ">
      <div class="row">
          <div class="four mobile fifths">
            <form action="/courses/search" method='get' id='parten-search'>
              <input type="text" name="name" placeholder="课程名称">  
            </form>
          </div>
          <div class="one mobile fifths parten-search"><span class="suffix"><i class="icon-search"></i></span></div>
        </div>
    </div>
  </div> 
  <div class="tabs mobile half-gap-top">
    <ul role="tablist row">
      <li role="tab" class='one half mobile' aria-controls="#tab1">待反馈</li>
      <li role="tab" class='one half mobile' aria-controls="#tab2">已反馈</li>
    </ul>
    <div id="tab1" role="tabpanel">
      <% if @courses[:courses].length > 0%>
        <%@courses[:courses].each do |course|%>
          <article class="row box half-gap-top">
              <div class="one fourth mobile">
                <a href="<%=course_path(order.course)%>" >
                  <%= image_tag(show_small_avatar(course))%>  
                </a>
              </div>
              <div class="three fourths mobile half-pad-left">
                <div class="row">
                  <div class="one whole name-holder">
                    <a href="<%=course_path(order.course)%>" >
                      <strong><%= course.name_cn %></strong>
                    </a>
                  </div>
                </div>
                <div class="row">
                  <div class="two fourths mobile">
                    <div class="row">
                      <div class="one whole">
                        <%= course.start_date.strftime('%Y/%m/%d')%>
                      </div>
                      <div class="one whole">
                        城市:<%= order.course.show_city%>
                      </div>
                    </div>
                  </div>
                  <div class="two fourths mobile">
                    <div class="row">
                      <div class="one whole align-right">
                        <div>公司:<%=order.show_status%></div>
                        <div>系统:<%=order.show_state%></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>        
          </article>    
        <%end%>
      <% else %>
        <article class="no-data  row box ">
            <div class="one whole box align-center">
              抱歉，没有查到相关反馈
            </div>
        </article>
      <% end %>  
    </div>
    <div id="tab2" role="tabpanel">
      <% if @courses[:feedbacks].length > 0%>
        <% @courses[:feedbacks].each do |feedback|%>
          <article class="row box half-gap-top">
              <div class="one fourth mobile">
                <a href="<%=course_path(feedback.course)%>" >
                  <%= image_tag(show_small_avatar(feedback.course))%>  
                </a>
              </div>
              <div class="three fourths mobile half-pad-left">
                <div class="row">
                  <div class="one whole name-holder">
                    <a href="<%=course_path(feedback.course)%>" >
                      <strong><%= feedback.course.name_cn %></strong>
                    </a>
                  </div>
                </div>
                <div class="row">
                  <div class="one whole mobile">
                    <div class="row">
                      <div class="one whole">
                        <%= feedback.course.start_date.strftime('%Y/%m/%d')%>
                      </div>
                      <div class="one whole">
                        <a href="/feedbacks/<%=feedback.id.to_s%>/edit" class='block'>
                          城市:<%= feedback.course.show_city%>
                          <i class="icon-circle-arrow-right pull-right"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>        
          </article>    
        <%end%>
      <% else %>
        <article class="no-data  row box ">
            <div class="one whole box align-center">
              抱歉，没有查到相关反馈
            </div>
        </article>
      <% end %>  
    </div>
  </div>      
</div>