<dl class="menu">
    <dt class="menu_title triple-pad-left"><span class="fa fa-list"></span>单位管理</dt>
	<dd class="menu_item double-pad-left <%= actived('companies','index')%>">
		<a href="<%= admin_companies_path %>" class="triple-pad-left">单位列表</a>
	</dd>
</dl>
<dl class="menu">
    <dt class="menu_title triple-pad-left"><span class="fa fa-list"></span>会员管理</dt>
	<dd class="menu_item double-pad-left <%#= actived('courses')%>">
		<a href="<%= user_users_path %>" class="triple-pad-left">新建课程</a>
	</dd>
	<dd class="menu_item double-pad-left <%#= actived('users')%>">
		<a href="<%= user_users_path %>" class="triple-pad-left">新建课程</a>
	</dd>	
</dl>
<dl class="menu">
    <dt class="menu_title triple-pad-left"><span class="fa fa-list"></span>课程管理</dt>
	<dd class="menu_item double-pad-left <%#= actived('courses')%>">
		<a href="<%= user_users_path %>" class="triple-pad-left">新建课程</a>
	</dd>
	<dd class="menu_item double-pad-left <%#= actived('users')%>">
		<a href="<%= user_users_path %>" class="triple-pad-left">新建课程</a>
	</dd>	
</dl>
<dl class="menu">
    <dt class="menu_title triple-pad-left"><span class="fa fa-list"></span>报名表管理</dt> 
	<dd class="menu_item double-pad-left <%#= actived('courses')%>">
		<a href="<%= user_courses_path%>" class="triple-pad-left">已报名的课程</a>
	</dd>
	<dd class="menu_item double-pad-left  <%#= actived('courses',params[:t],'going')%>">
		<a href="<%= user_courses_path(:t =>'going')%>" class="triple-pad-left">进行中的课程</a>
	</dd>
	<dd class="menu_item double-pad-left  <%#= actived('courses',params[:t],'wait')%>">
		<a href="<%= user_courses_path(:t =>'wait')%>" class="triple-pad-left">待参与的课程</a>
	</dd>
	<dd class="menu_item double-pad-left  <%#= actived('courses',params[:t],'actived')%>">
		<a href="<%= user_courses_path(:t =>'actived')%>" class="triple-pad-left">参与过的课程</a>
	</dd>
</dl>
<dl class="menu">
    <dt class="menu_title double-pad-left"><span class="fa fa-list"></span>反馈管理</dt> 
	<dd class="menu_item double-pad-left  <%#= actived('feedbacks')%>">
		<a href="<%= user_feedbacks_path%>" class="triple-pad-left">我的反馈</a>
	</dd>
	<dd class="menu_item double-pad-left  <%#= actived('courses',params[:t],'unfeed')%>">
		<a href="<%= user_feedbacks_path(:t =>'unfeed')%>" class="triple-pad-left">待反馈</a>
	</dd>
</dl>
<% if current_user.is_admin? %>
	<dl class="menu">
	    <dt class="menu_title double-pad-left"><span class="fa fa-list"></span>学习卡管理</dt> 
		<dd class="menu_item double-pad-left  <%= actived('cards','index')%>">
			<a href="<%= admin_cards_path%>" class="triple-pad-left">学习卡列表</a>
		</dd>
	</dl>
<% end %>