<dl class="menu">
    <dt class="menu_title triple-pad-left"><span class="fa fa-list"></span>单位管理</dt>
	<dd class="menu_item double-pad-left <%= actived('companies','index')%>">
		<a href="<%= admin_companies_path %>" class="triple-pad-left">单位列表</a>
	</dd>
</dl>
<dl class="menu">
    <dt class="menu_title triple-pad-left"><span class="fa fa-list"></span>学员管理</dt>
	<dd class="menu_item double-pad-left <%= actived('users','index')%>">
		<a href="<%= admin_users_path %>" class="triple-pad-left">学员列表</a>
	</dd>	
</dl>
<dl class="menu">
    <dt class="menu_title triple-pad-left"><span class="fa fa-list"></span>课程管理</dt>
	<dd class="menu_item double-pad-left <%= actived('courses','new')%>">
		<a href="<%=  new_admin_course_path %>" class="triple-pad-left">新建课程</a>
	</dd>
	<dd class="menu_item double-pad-left <%= actived('courses','index',params[:status],'0')%>">
		<a href="<%= admin_courses_path(:status => Course::STATUS_CODE_0) %>" class="triple-pad-left">规划中的课程</a>
	</dd>	
	<dd class="menu_item double-pad-left <%= actived('courses','index',params[:status],'1')%>">
		<a href="<%= admin_courses_path(:status => Course::STATUS_CODE_1) %>" class="triple-pad-left">已发布的课程</a>
	</dd>
	<dd class="menu_item double-pad-left <%= actived('courses','index',params[:status],'2')%>">
		<a href="<%= admin_courses_path(:status => Course::STATUS_CODE_2) %>" class="triple-pad-left">授课中的课程</a>
	</dd>
	<dd class="menu_item double-pad-left <%= actived('courses','index',params[:status],'3')%>">
		<a href="<%= admin_courses_path(:status => Course::STATUS_CODE_3) %>" class="triple-pad-left">已交付的课程</a>
	</dd>
	<dd class="menu_item double-pad-left <%= actived('courses','index',params[:status],'4')%>">
		<a href="<%= admin_courses_path(:status => Course::STATUS_CODE_4) %>" class="triple-pad-left">已取消的课程</a>
	</dd>				
</dl>
<dl class="menu">
    <dt class="menu_title triple-pad-left"><span class="fa fa-list"></span>报名表管理</dt> 
	<dd class="menu_item double-pad-left <%= actived('orders','index',params[:t],'o')%>">
		<a href="<%= admin_orders_path%>" class="triple-pad-left">尚未开课的报名表</a>
	</dd>
	<dd class="menu_item double-pad-left  <%= actived('orders','index',params[:t],'n')%>">
		<a href="<%= admin_orders_path(:t =>'n')%>" class="triple-pad-left">授课中的报名表</a>
	</dd>
	<dd class="menu_item double-pad-left  <%= actived('orders','index',params[:t],'p')%>">
		<a href="<%= admin_orders_path(:t =>'p')%>" class="triple-pad-left">已结课的报名表</a>
	</dd>
	<dd class="menu_item double-pad-left  <%= actived('orders','index',params[:t],'c')%>">
		<a href="<%= admin_orders_path(:t =>'c')%>" class="triple-pad-left">取消课程的报名表</a>
	</dd>	
</dl>


<dl class="menu">
    <dt class="menu_title double-pad-left"><span class="fa fa-list"></span>反馈管理</dt> 
	<dd class="menu_item double-pad-left  <%= actived('feedbacks','index',params[:t],'w')%>">
		<a href="<%= admin_feedbacks_path(:t =>'w')%>" class="triple-pad-left">未反馈课程</a>
	</dd>    
	<dd class="menu_item double-pad-left  <%= actived('feedbacks','index',params[:t],'p')%>">
		<a href="<%= admin_feedbacks_path(:t => 'p')%>" class="triple-pad-left">已反馈课程</a>
	</dd>
</dl>
<% if current_user.is_admin? %>
	<dl class="menu">
	    <dt class="menu_title double-pad-left"><span class="fa fa-list"></span>学习卡管理</dt> 
		<dd class="menu_item double-pad-left  <%= actived('cards','index')%>">
			<a href="<%= admin_cards_path%>" class="triple-pad-left">学习卡列表</a>
		</dd>
	</dl>
<% end %>