<% content_for :app_head do %>
  <%= stylesheet_link_tag    "pages/default/category-bundle-mobile" %>
  <%= javascript_include_tag "pages/default/category-bundle-mobile" %>
  <script type="text/javascript">
  jQuery(function($) {

  });
  </script>
  <%= yield :head %>
<% end %>
<div class="container">
  <%@courses.each do |course|%>
    <article class="row box">
      <a href="<%=course_path(course)%>" class='block'>
        <div class="one fourth mobile">
          <%= image_tag(show_small_avatar(course))%>  
        </div>
        <div class="three fourths mobile pad-left">
          <p class="name"><strong><%= course.name_en %></strong></p>
          <p class="other">
            <span class="city pad-right">城市:<%= course.show_city%></span>
            <span class="city">日期:<%= course.start_date.strftime('%Y年%m月%d日')%></span>
          </p>
        </div>      
      </a>
      <p >
        <ul class="checklist">
          <li class="blue pull-right" data-id="<%= course.id.to_s %>">勾选报名</li>
        </ul>
      </p>      
    </article>    
  <%end%>  
  <article class="row pad-bottom padded">
    <div class="one whole">
      <ul class="button-group row">
        <li class='one whole block mobile align-center'>
          <a href="javascript:void(0);" class="red block multip-start">确定勾选并报名</a>
        </li>
      </ul>
    </div>
  </article>            
</div>