<% content_for :app_head do %>
  <%= stylesheet_link_tag    "pages/default/category-bundle-mobile" %>
  <%= javascript_include_tag "pages/default/category-bundle-mobile" %>
  <script type="text/javascript">
  jQuery(function($) {

  });
  </script>
  <%= yield :head %>
<% end %>
<div class="container">

  <div class="row location half-gap-top half-gap-bottom padded">
    <div class="one whole mobile">
      <a href="javascript:history.back(); " class='block pull-left double-gap-right' ><i class="icon-chevron-sign-left large"></i></a>
      <div class=" mobile pull-left half-gap-top">
        <i class="icon-map-marker hafl-gap-right"></i>  
        <span class="locate">课程搜索</span>
      </div>
    </div>
  </div>  
  <div class="seacher row">
    <div class="one whole search box ">
      <div class="row">
          <div class="four mobile fifths">
            <form action="/courses/search" method='get' id='parten-search'>
              <input type="text" name="name" placeholder="课程名称">  
            </form>
          </div>
          <div class="one mobile fifths parten-search"><span class="suffix"><i class="icon-search"></i></span></div>
        </div>
    </div>
  </div> 
  <% if @courses['data'].length > 0%>
    <%@courses['data'].each do |course|%>
      <article class="row box">
          <div class="one fourth mobile img-container">
            <a href="<%=course_path(course)%>" >
              <%= image_tag(show_small_avatar(course))%>  
            </a>
          </div>
          <div class="three fourths mobile half-pad-left info-container">
            <div class="row">
              <div class="one whole name-holder">
                <a href="<%=course_path(course)%>" class='block' >
                  <strong><%= course.name_cn %></strong>
                </a>
              </div>
            </div>
            <div class="row half-gap-top oth-container">
              <div class="three fourths mobile">
                <div class="row">
                  <div class="one whole">
                    日期:<%= course.start_date.strftime('%Y年%m月%d日')%>
                  </div>
                  <div class="one whole">
                    城市:<%= course.show_city%>
                  </div>
                </div>
              </div>
              <div class="one fourth mobile">
                <div class="row">
                  <div class="one whole align-right">
                    <%= course.duration%>天
                  </div>
                </div>
              </div>
            </div>
          </div>        
      </article>    
    <%end%>
  <% else %>
    <article class="no-data absolute middle row">
        <div class="one whole box align-center half-gap-top">
          <strong>抱歉，没有查到相关课程</strong>
        </div>
    </article>
  <% end %>          
</div>