<% content_for :app_head do %>
  <%= stylesheet_link_tag    "pages/default/course-bundle-mobile" %>
  <%= javascript_include_tag "pages/default/course-bundle-mobile" %>
  <script type="text/javascript">
  jQuery(function($) {
    window.c_id = "<%= @course.id.to_s%>";
    window.u_id = "<%= current_user.try(:id).to_s%>";
  });
  </script>
  <%= yield :head %>
<% end %>
<div class="container">
  <div class="row location half-gap-top half-gap-bottom padded">
    <div class="two thirds mobile">
      <a href="javascript:history.back(); " class='block pull-left double-gap-right' ><i class="icon-chevron-sign-left large"></i></a>
      <div class=" mobile pull-left half-gap-top">
        <i class="icon-map-marker hafl-gap-right"></i>  
        <span class="locate">课程详细信息</span>
      </div>
    </div>
    <div class="one third mobile pull-right">
      <a href="/">
        <i class="icon-home pull-right large"></i>  
      </a>
    </div>
  </div>  
<div class="show-info double-padded">
  <div class="row gap-bottom">
    <div class="three fourths">
      <h3 class="name"><strong><%=@course.name_cn%></strong></h3>
    </div>  
    <div class="avatar-container one fourth">
      <%= image_tag(show_banner_avatar(@course),:class => 'whole')%>
    </div>
    <% if current_user && current_user.enrolled?(@course.id.to_s)%>
      <% if  current_user.can_cancel?(@course.id.to_s)%>
        <button class="whole block info can_cancel" data-cid="<%=@course.id.to_s%>">取消报名</button> 
      <% else %>
        <button class="whole block info">您已报名</button> 
      <% end %>
    <% else %>
      <button class="whole block info start">马上报名</button> 
    <% end %>
  </div>

<div class="row">
  <div class="tabs ipad">
    <ul role="tablist">
      <li role="tab" aria-controls="#tab1" class='padded'>基本信息</li>
      <li role="tab" aria-controls="#tab2" class='padded'>课程简介</li>
      <li role="tab" aria-controls="#tab3" class='padded'>教师信息</li>
    </ul>
    <div id="tab1" role="tabpanel">
      <p class="delivery_type">课程类型:<%= Course::TYPE_HASH[@course.delivery_type] %></p>
      <p class="content_type">内容类型:<%= @course.content_type %></p>
      <p class="difficulty_level">难易程度:<%= @course.difficulty_level%></p>
      <p class="city">最多容纳:<%=@course.lim_num%>人</p>
      <p class="start_time">当前有效报名:<%= @course.valid_registration_num%>人</p>
      <p class="course-stard-end">
        开始时间:<%=@course.start_date%>&nbsp;<%= @course.start_time%>
      </p>
      <p class="course-stard-end">
        结束时间:<%=@course.end_date%>&nbsp;<%= @course.end_time%>
      </p>    
      <p class="course-stard-end">
        Duration:<%= @course.duration%>天
      </p>   
      <p class="course-city">
        城市:<%=@course.show_city%>
      </p>                     
      <p class="course-address">
        地址:<%= @course.show_address %>
      </p>      
      <p>受众对象:<%= @course.audience%></p>
      <p class="one whole">
        
      </p>    
    </div>
    <div id="tab2" role="tabpanel">
      <div class="description"><%=raw @course.description%></div>
    </div>    
    <div id="tab3" role="tabpanel">
      <p class="instructor">姓名:<%=@course.instructor%></p>
      <p class="one whole">
        <p>简介:</p>
        <div class="description"><%= @course.instructor_desc%></div>
      </p>     
    </div>
  </div>  
</div>
  
</div>

