<% content_for :app_head do %>
  <%= stylesheet_link_tag    "pages/default/course-bundle" %>
  <%= javascript_include_tag "pages/default/course-bundle" %>
  <script type="text/javascript">
  jQuery(function($) {
    window.u_id = "<%= current_user.try(:id).to_s%>";
    window.c_id = "<%= @course.id.to_s %>";
    window.c_type = "<%= @course.content_type %>";
    if (window.c_type == '其他'){
      $('li.qt').attr('aria-selected',true).siblings().attr('aria-selected',false)
    }else if(window.c_type == 'AX+CRM'){
      $('li.ax_crm').attr('aria-selected',true).siblings().attr('aria-selected',false)
    }else if(window.c_type == 'AX'){
      $('li.ax').attr('aria-selected',true).siblings().attr('aria-selected',false)
    }else{
      $('li.crm').attr('aria-selected',true).siblings().attr('aria-selected',false)
    }
  });
  </script>
  <%= yield :head %>
<% end %>
<div class="row triple-gap-top triple-pad-top triple-pad-bottom">
  <div class="container main triple-padded">
    <div class="row triple-padded">
      <div class="show-top one whole double-padded">
        <div class="one third">
          <%=image_tag(show_banner_avatar(@course))%>  
        </div>
        <div class="two thirds">
          <h2><%= @course.code%>:<%=@course.name_cn%></h2>
          <div class="row">
            <div class="one third">
              <p class="instructor">讲师:<%=@course.instructor%></p>
              <p class="delivery_type">课程类型:<%= Course::TYPE_HASH[@course.delivery_type] %></p>
              <p class="content_type">内容类型:<%= @course.content_type %></p>
              <p class="difficulty_level">难易程度:<%= @course.difficulty_level%></p>
            </div>
            <div class="one third">
              <p class="city">最多容纳:<%=@course.lim_num%>人</p>
              <p class="start_time">当前有效报名:<%= @course.valid_registration_num%>人</p>
            </div>
            <div class="one third align-right start-container">

            <% if current_user && current_user.enrolled?(@course.id.to_s)%>
                <button class="whole block">已报名</button> 
            <% else %>
              <button class=' start large'>报名&nbsp;<i class="icon-circle-arrow-right"></i></button>
            <% end %>
            </div>
          </div>    
        </div>
      </div>
      <div class="show-bottom one whole   double-gap-top">
        <div class="row">
          <div class="bottom-left three fourths double-padded">
            <div class="one whole box success">受众对象:<%= @course.audience%></div>
            <div class="one whole double-pad-top">
              <h5>课程简介:</h5>
              <div class="description"><%=raw @course.description%></div>
            </div>
          </div>
          <div class="bottom-right one fourth ">
            <div class="right-cont double-pad-top">
              <div class="img-container align-center">
                <%= image_tag(show_small_avatar(@course))%>  
              </div>
              <div class="constructor-desc double-padded small-info ">
                <%= @course.instructor_desc%>
              </div> 
              <div class="course-stard-end double-padded  small-info">
                Start:&nbsp;<%=@course.start_date%>&nbsp;<%= @course.start_time%>
              </div>
              <div class="course-stard-end double-padded  small-info">
                End:&nbsp;<%=@course.end_date%>&nbsp;<%= @course.end_time%>
              </div>    
              <div class="course-stard-end double-padded  small-info">
                duration:<%= @course.duration%>天
              </div>   
              <div class="course-city double-padded  small-info">
                城市:<%=@course.show_city%>
              </div>                     
              <div class="course-address double-padded">
                地址:<%= @course.show_address %>
              </div>           
            </div>
          </div>        
        </div>
      </div> 
    </div>    
  </div>
</div>


 