<div class="row">
  <div class="one half padded">
    <label for="name">用户名</label>
    <input type='hidden' name='id' value="<%= user.try(:id).to_s %>" >
    <input id="name" type="text" name='user[name]' placeholder="user name" value="<%= default(user,'name') %>">
  </div>
  <div class="one half padded">
    <div class="row search-container">
      <label for="email">邮箱(不可重复)</label>
      <input id="email" type="text" name='user[email]' placeholder="user email" value="<%= default(user,'email') %>">
    </div>
  </div>
</div>

<div class="row">
  <div class="one half padded">
      <label for="mobile">手机号码(不可重复)</label>
      <input id="mobile" type="text" name='user[mobile]' placeholder="user mobile" value="<%= default(user,'mobile') %>">
  </div>
  <div class="one half padded">
      <label for="password">密码</label>
      <input id="password" type="password" name='user[password]' placeholder="user password">
  </div>            
</div>

<div class="row">
  <div class="one half padded">
      <label for="level">系统角色</label>
      <span class="select-wrap">
        <select class="unselected" id='role' name='user[role_of_system]'>
          <% User::ROLE_HASH.each_pair do |k,v| %>
            <option value="<%= k %>" <% if user.try(:role_of_system) == k %>selected='selected'<% end%> ><%= v %></option>
          <% end %>
        </select>
      </span>
  </div>
  <div class="one half padded">
      <label for="type_of_position">工作类型</label>
      <span class="select-wrap">
        <select class="unselected" id='type_of_position' name='user[type_of_position]'>
          <% User::POSITION_ARRAY.each do |position| %>
            <option value="<%= position %>" <% if user.try(:type_of_position) == position %>selected='selected'<% end%> ><%= position %></option>
          <% end %>
        </select>
      </span>      
  </div>            
</div>
<div class="row">
  <div class="one third padded">
      <label for="company_id">所属单位</label>
      <span class="select-wrap">
        <select class="unselected" id='company_id' name='user[company_id]'>
          <% Company.all.each do |company| %>
            <option value="<%= company.id.to_s%>" <% if user.try(:company_id) == company.id.to_s %>selected='selected' <% end %> ><%=company.name%></option>
          <% end %>
        </select>
      </span>      
  </div>
  <div class="one third padded">
      <label for="city">距您最近的城市</label>
      <span class="select-wrap">
        <select class="unselected" id='city' name='user[city]'>
          <% User::CITY_ARRAY.each do |city| %>
            <option value="<%= city %>" <% if user.try(:city) == city %> selected='selected'<% end %> ><%= city %></option>
          <% end %>         
        </select>
      </span>
  </div>   
  <div class="one third padded">
      <label for="status">状态</label>
      <span class="select-wrap">
        <select class="unselected" id='status' name='user[status]'>
          <% User::STATUS_HASH.each_pair do |k,v| %>
            <option value="<%= k %>" <% if user.try(:status) == k %> selected='selected'<% end %> ><%= v %></option>
          <% end %>
        </select>
      </span>
  </div>   
</div>
<div class="row">
  <div class="one third padded">
      <label for="company_id">QQ</label>
      <input id="qq" type="text" name='user[qq]' placeholder="user qq" value="<%= default(user,'qq') %>">
  </div>
  <div class="one third padded">
      <label for="wechart">微信号</label>
      <input id="wechart" type="text" name='user[wechart]' placeholder="user wechart" value="<%= default(user,'wechart') %>">
  </div>   
  <div class="one third padded">
      <label for="skype">状态</label>
      <input id="skype" type="text" name='user[skype]' placeholder="user skype" value="<%= default(user,'skype') %>">
  </div>   
</div>



<div class="row">
  <div class="one third padded">
    <label for="ax">是否对AX培训感兴趣</label>
    <ul class="unstyled">
      <li class='double-gap-right double-gap-left'>
        <input id="ax_1" type="radio" name="ax" checked="">
        <label for="ax_1" class="inline">是</label>
      </li>
      <li>
        <input id="ax_2" type="radio" name="ax">
        <label for="ax_2" class="inline">否</label>
      </li>
    </ul>
  </div>
  <div class="one third padded">
    <label for="ax">是否对CRM培训感兴趣</label>
    <ul class="unstyled">
      <li class='double-gap-right double-gap-left'>
        <input id="crm_1" type="radio" name="crm" checked="">
        <label for="crm_1" class="inline">是</label>
      </li>
      <li>
        <input id="crm_2" type="radio" name="crm">
        <label for="crm_2" class="inline">否</label>
      </li>
    </ul>
  </div>  
  <div class="one third padded">
    <label for="ax">是否对软技能培训感兴趣</label>
    <ul class="unstyled">
      <li class='double-gap-right double-gap-left'>
        <input id="softskill_1" type="radio" name="softskill" checked="">
        <label for="softskill_1" class="inline">是</label>
      </li>
      <li>
        <input id="softskill_2" type="radio" name="softskill">
        <label for="softskill_2" class="inline">否</label>
      </li>
    </ul>
  </div>    

</div>

<div class="row">
  <div class="one half padded">
      <label for="course_count">有效报名课程数</label>
      <input id="course_count" name='user[course_count]' type="number" placeholder="Enter a number " value="<%= default(user,'course_count') %>">
  </div>
  <div class="one half padded">
      <label for="course_manday_count">有效报名人天数</label>
      <input id="course_manday_count" name='user[course_manday_count]' type="number" placeholder="Enter a number" value="<%= default(user,'course_manday_count') %>">
  </div>  
</div>
