<% content_for :app_head do %>
  <%= stylesheet_link_tag    "pages/admin/users-bundle" %>
  <%= javascript_include_tag "pages/admin/users-bundle" %>
  <script type="text/javascript">
  </script>
  <%= yield :head %>
<% end %>


<% content_for :left_side do %>
  <%= render :partial => 'admin/partical/left_side' %>
<% end %>

<% content_for :right_side do %>
  <div class="flash-notice row success double-padded"></div>
  <div class="row right-head triple-pad-left triple-pad-right">
    <span class="fa fa-flag-o"></span><span class="locate">会员管理<i class="fa fa-angle-double-right"></i>会员列表</span>
  </div>
  <div class="row right-notice triple-pad-left triple-pad-right">
    <div class="notice-content double-gap-top double-gap-bottom double-pad-left pad-top pad-bottom">
      <i class="fa fa-info"></i>
      <span>增加/删除/修改会员信息</span>
    </div>
  </div>
  <div class="row right-main triple-pad-left">
    <div class="tabs ipad">
      <ul role="tablist">
        <li role="tab" aria-controls="#tab1" class='one fourth tab-nav'>会员列表</li>
          <li role="tab" aria-controls="#tab2" class='one fourth tab-nav'>新增/编辑&nbsp;会员</li>
      </ul>
      <div id="tab1" role="tabpanel">
        <div class="search-container">
          <form class='info search-user'>
              <div class="row">
                <div class="one fourth padded">
                  <input id="search_name" name='name' type="text" placeholder="用户名">
                </div>
                <div class="one fourth padded">
                  <input id="search_email" name='email'  type="text" placeholder="邮箱">
                </div>
                <div class="one fourth padded">
                  <input id="search_mobile" name='mobile' type="text" placeholder="手机号码">
                </div>
                <div class="one fourth padded">
                  <span class="select-wrap">
                    <select class="unselected" name="role" id='search_role'>
                      <option value="" disabled="" selected="">系统角色</option>
                      <% User::ROLE_HASH.each_pair do |k,v| %>
                        <option value="<%= k %>" <% if params[:role] == k %>selected='selected' <% end %> ><%= v %></option>
                      <% end %>
                    </select>
                  </span>                 
                </div>                               
              </div>
              <div class="row">
                <div class="one fourth padded">
                  <span class="select-wrap">
                    <select class="unselected" name="position" id='search_position'>
                      <option value="" disabled="" selected="">工作类型</option>
                      <% User::POSITION_ARRAY.each do |position| %>
                        <option value="<%= position %>" <% if params[:position] == position %>selected='selected' <% end %> ><%= position %></option>
                      <% end %>
                    </select>
                  </span>                 
                </div>             
                <div class="one fourth padded">
                  <span class="select-wrap">
                    <select class="unselected" name="company" id='search_company'>
                      <option value="" disabled="" selected="">所属单位</option>
                      <% Company.all.each do |company| %>
                        <option value="<%= company.id.to_s%>" <% if params[:company] == company.id.to_s %>selected='selected' <% end %> ><%=company.name%></option>
                      <% end %>
                    </select>
                  </span>                 
                </div>
                <div class="one fourth padded">
                  <span class="select-wrap">
                    <select class="unselected" name="city" id="search_city">
                      <option value="" disabled="" selected="">最近城市</option>
                      <% User::CITY_ARRAY.each do |city| %>
                        <option value="<%= city %>" <% if params[:city] == city %> selected='selected'<% end %> ><%= city %></option>
                      <% end %>
                    </select>
                  </span>
                </div>
                <div class="one fourth padded">
                  <span class="select-wrap">
                    <select class="unselected" name="interest" id="search_interest">
                      <option value="" disabled="" selected="">课程兴趣</option>
                      <% User::INTEREST_ARRAY.each do |interest| %>
                        <option value="<%= interest %>" <% if params[:interest] == interest %> selected='selected'<% end %> ><%= interest %></option>
                      <% end %>
                    </select>
                  </span>
                </div> 
              </div>
              <div class="row">
                <div class="one fourth padded">
                  <span class="select-wrap">
                    <select class="unselected" name="creater" id="search_creater">
                      <option value="" disabled="" selected="">创建人</option>
                      <% User::CREATER_HASH.each_pair do |k,v| %>
                        <option value="<%= k %>" <% if params[:creater] == k %> selected='selected'<% end %> ><%= v %></option>
                      <% end %>
                    </select>
                  </span>                  
                </div>  
                <div class="one fourth padded">
                  <span class="select-wrap">
                    <select class="unselected" name="status" id="search_status">
                      <option value="" disabled="" selected="">状态</option>
                      <% User::STATUS_HASH.each_pair do |k,v| %>
                        <option value="<%= k %>" <% if params[:status] == k %> selected='selected'<% end %> ><%= v %></option>
                      <% end %>
                    </select>
                  </span>                  
                </div> 
                <div class="one fourth padded">
                  <input id="search_start" name='start' type="text" placeholder="起始时间">
                </div>
                <div class="one fourth padded">
                  <input id="search_end" name='end' type="text" placeholder="结束时间">
                </div>  
              </div>
              <div class="row">
                <div class="one whole padded">
                  <button class="block info search_user">搜索</button>
                </div>
              </div>
          </form>
        </div>
        <table class="responsive responsiveTable  <%= @users.length > 0 ? 'info' : 'error' %>" data-max="15">
          <thead>
            <tr>
              <th>用户名</th>
              <th>邮箱</th>
              <th>手机号码</th>
              <th>系统角色</th>
              <th>工作类型</th>
              <th>所属单位</th>
              <th>有效报名课程数</th>
              <th>有效报名人天数</th>
              <th>状态</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <%= render :partial => '/admin/users/table',:locals => {:users => @users}%>
          </tbody>
        </table>
        <div class="page-container">
          <%= admin_paginator_ajax('user',@users,{:name => params[:name],:email => params[:email],:role => params[:role],:position => params[:position],:company => params[:company],:city => params[:city],:interest => params[:interest],:creater => params[:creater],:status => params[:status],:start => params[:start],:end => params[:end]}) %>
        </div>
      </div>
      <div id="tab2" role="tabpanel">
        <form class='info new-user'>
          <fieldset>
            <legend>information</legend>
            <div class='form-detail'>
              <%= render :partial => '/admin/users/form',:locals => {:user => @user}%>
            </div>
            <% if current_user.is_admin? %>
              <button class="block info info-submit">提交</button>
            <% end %>
          </fieldset>
        </form> 
      </div>
  </div>
<% end %>
