
<% content_for :app_head do %>
  <%= stylesheet_link_tag    "pages/admin/courses-bundle" %>
  <%= javascript_include_tag "pages/admin/courses-bundle" %>
  <script type="text/javascript">
  jQuery(function($) {

  });
  </script>
  <%= yield :head %>
<% end %>


<% content_for :left_side do %>
  <%= render :partial => 'admin/partical/left_side' %>
<% end %>

<% content_for :right_side do %>
  <div class="row right-head triple-pad-left triple-pad-right">
    <span class="fa fa-flag-o"></span>
    <span class="locate">课程管理<i class="fa fa-angle-double-right"></i><%=sub_tab_text(params[:status])%></span>
  </div>
  <div class="row right-notice triple-pad-left triple-pad-right">
    <div class="notice-content double-gap-top double-gap-bottom double-pad-left pad-top pad-bottom">
      <i class="fa fa-info"></i>
      <span><%= course_notice(params[:status])%></span>
    </div>
  </div>
  <div class="row triple-pad-left triple-pad-right">
    <div class="search-container">
      <form class='info search-form'>
          <div class="row">
            <input type='hidden' name='status' value="<%= params[:status]%>">
            <div class="one fourth padded">
              <input id="search_code" name='code' type="text" placeholder="课程代码">
            </div>
            <div class="one fourth padded">
              <input id="search_name" name='name'  type="text" placeholder="课程名称">
            </div>
            <div class="one fourth padded">
              <input id="search_start" name='start' type="text" placeholder="课程开始时间">
            </div>
            <div class="one fourth padded">
              <input id="search_end" name='end' type="text" placeholder="课程结束时间">
            </div>                                
          </div>
          <div class="row">
            <div class="one half padded">
              <span class="select-wrap">
                <select class="unselected" name="content" id="search_content">
                  <option value="" disabled="" selected="">内容类型</option>
                  <% Course::CONTENT_TYPE_ARRAY.each do |level| %>
                    <option value="<%= level %>" <% if params[:content] == level %>selected='selected'<% end%> ><%= level %></option>
                  <% end %>
                </select>
              </span>
            </div>          
            <div class="one half padded">
              <span class="select-wrap">
                <select class="unselected" name="city" id="search_city">
                  <option value="" disabled="" selected="">城市</option>
                  <% Course::CITY_ARRAY.each do |city| %>
                    <option value="<%= city %>" <% if params[:city] == city %>selected='selected'<% end%> ><%= city %></option>
                  <% end %>
                </select>
              </span>
            </div>             
            <div class="row">
              <div class="one whole padded">
                <button class="block info search-orders">搜索</button>
              </div>               
            </div>
          </div>
      </form>
    </div>

    <table class="responsive responsiveTable  <%= @courses.length > 0 ? 'info' : 'error' %>" data-max="15">
      <thead>
        <tr>
          <th>编码</th>
          <th>名称</th>
          <th>开始时间</th>
          <th>结束时间</th>
          <th>城市</th>
          <th>内容类型</th>
          <th>教师姓名</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <%= render :partial => '/admin/courses/table',:locals => {:courses => @courses}%>
      </tbody>
    </table> 
    <div class="page-container">
      <%= admin_paginator_ajax('course',@courses,{:code => params[:code],:name => params[:name],:start => params[:start],:end => params[:end],:content => params[:content],:city => params[:city],:t => params[:t]}) %>
    </div>       
  </div>

<article class="proxy-box row"> 
  <div class="one whole padded">
    <h6 class='box info align-center'></h6> 
    <form action="" method="post" class='proxy-form'>
      <fieldset>
        <legend>学员搜索</legend>
        <div class="row">
          <div class="one fifth padded mobile">
            <span class="select-wrap">
              <select class="unselected" name='company'>
                <option value="" disabled="" selected="">所属公司</option>
                <% Company.actived.each do |company| %>
                  <option value="<%= company.id.to_s%>"><%=company.name%></option>
                <% end %>
              </select>
            </span>
          </div>    
          <div class="one fifth padded mobile">
            <input id="name" name='name' type="text" placeholder="学员姓名">
          </div>
          <div class="one fifth padded mobile">
            <input id="email" name='email' type="email" placeholder="学员邮箱">
          </div>
          <div class="one fifth padded">
            <input id="name"  name='mobile' type="text" placeholder="学员手机号">
            <input id="proxy_cid" name='proxy_cid'  type="hidden" >
          </div>
          <div class="one fifth padded">
            <button class="info  multiple_proxy block">搜索</button>
          </div>
        </div>
    
      </fieldset>
    </form>

    <div class="content row success box double-gap-top">  
      <ul class="checklist">
      </ul>
    </div>     
    <div class="row double-gap-top double-pad-bottom box select-tool">
      <ul class="checklist one sixth skip-two align-center">
        <li class="turquoise">全选/全不选</li>
      </ul>      
      <button class="info one sixth multiple_proxy">确定</button>
    </div>  
  </div>
</article>


<% end %>