
<% content_for :app_head do %>
  <%= stylesheet_link_tag    "pages/admin/courses-bundle" %>
  <%= javascript_include_tag "pages/admin/courses-bundle" %>
  <script type="text/javascript">
  jQuery(function($) {

  });
  </script>
  <%= yield :head %>
<% end %>


<% content_for :left_side do %>
  <%= render :partial => 'admin/partical/left_side' %>
<% end %>

<% content_for :right_side do %>
  <div class="row right-head triple-pad-left triple-pad-right">
    <span class="fa fa-flag-o"></span>
    <span class="locate">课程管理<i class="fa fa-angle-double-right"></i><%=sub_tab_text(params[:status])%></span>
  </div>
  <div class="row right-notice triple-pad-left triple-pad-right">
    <div class="notice-content double-gap-top double-gap-bottom double-pad-left pad-top pad-bottom">
      <i class="fa fa-info"></i>
      <span><%= course_notice(params[:status])%></span>
    </div>
  </div>
  <table class="responsive responsiveTable  <%= @companies.length > 0 ? 'info' : 'error' %>" data-max="15">
    <thead>
      <tr>
        <th>名称</th>
        <th>管理员</th>
        <th>合作类型</th>
        <th>等级</th>
        <th>合作状态</th>
        <th>有效报名<br />人天</th>
        <th>创建时间</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => '/admin/companies/table',:locals => {:companies => @companies}%>
    </tbody>
  </table>  
<% end %>