<% content_for :app_head do %>
	<%= stylesheet_link_tag    "layouts/default-layout" %>
	<%= javascript_include_tag "layouts/default-layout" %>
	<script type="text/javascript">
	jQuery(function($) {

	});
	</script>

	<%= yield :head %>
<% end %>

<% content_for :app_content do %>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="javascript:void(0);"><%=image_tag "logo.png", :class => 'logo',:alt => "logo" %></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">首页</a></li>
          <li><a href="#">AX</a></li>
          <li><a href="#">CRM</a></li>
          <li><a href="#">GP</a></li>
          <li><a href="#">NAV</a></li>
          <li><a href="#">SL</a></li>
        </ul>
        <div class="navbar-right">
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="搜索课程">
              <span class="glyphicon glyphicon-search"></span>
            </div>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/login">登录</a></li>
            <li><a href="regist">注册</a></li>
          </ul>          
        </div>
      </div>
    </div>
  </nav>
	<%= yield %>
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="row hidden-xs">
            <div class="col-xs-12 col-sm-3 col-sm-offset-1">
              <h5>关于我们</h5>
              <ul class='list-unstyled'>
                <li class="create"><a href="https://www.bunkr.me/en/create-presentation/">Create</a></li>
                <li class="gallery"><a href="https://www.bunkr.me/gallery">Gallery</a></li>
                <li class="collaborate"><a href="https://www.bunkr.me/en/collaborate/">Collaborate</a></li>
                <li class="vision"><a href="https://www.bunkr.me/en/product-vision/">Product Vision</a></li>
                <li class="pricing"><a href="https://www.bunkr.me/en/pricing/">Pricing</a></li>
                <li class="support"><a href="http://bunkr.uservoice.com/" target="_blank">Support</a></li>
              </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-sm-offset-1">
              <h5>联系方式</h5>
              <ul class='list-unstyled contact'>
                <li><a href="javascript:void(0);"><span>电话:</span>010-61598821</a></li>
                <li><a href="javascript:void(0);"><span>Email:</span>naitnix@126.com</a></li>
                <li><a href="javascript:void(0);"><span>QQ:</span>564126197</a></li>
                <li><a href="javascript:void(0);"><span>地址:</span>北京市海淀区</a></li>
              </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-sm-offset-1">
              <h5>友情链接</h5>
              <ul class='list-unstyled'>
                <li><a class="community-icon-twitter" target="_blank" href="">百度</a></li>
                <li>
                  <a class="community-icon-facebook" target="_blank" href="">腾讯</a>
                </li>
                <li>
                  <a class="community-icon-google" target="_blank" href="" rel="publisher">阿里巴巴</a>
                </li>
                <li>
                  <a class="community-icon-youtube" target="_blank" href="">微软</a>
                </li>
                <li>
                  <a class="community-icon-instagram" target="_blank" href="">IBM</a>
                </li>
                <li>
                  <a class="community-icon-linkedin" target="_blank" href="">联想</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="row copyright">
            <div class="row">
              <div class="col-xs-12">
                Copyright<span class='fa fa-copyright'></span>2014
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer> 
<% end %>

<%= parent_layout 'app' %>