<% content_for :app_head do %>
	<%= stylesheet_link_tag    "layouts/default-layout" %>
	<%= javascript_include_tag "layouts/default-layout" %>
	<script type="text/javascript">
	jQuery(function($) {
	});
	</script>
	<%= yield :head %>
<% end %>


<% content_for :app_content do %>
  <header class="pad-top  pad-left pad-right">
    <div class="container">
      <div class="row">
        <div class="onw whole mobile">
          <a href="/" class='logo-container double-pad-left'><%=image_tag "logo.png", :class => 'logo half-gap-left',:alt => "logo" %></a>
        </div>
        <div class="row">
          <div class="one fifth skip-four align-right">
            <% if current_user.present?%>
              <div class="a-container">
                <div class="reg-container pull-right">
                  <% if current_user.is_admin? || current_user.is_viewer? %>
                    <a href="<%= admin_companies_path %>" class='half-pad-right half-pad-left'>管理中心</a>
                  <% elsif current_user.is_manager? %>
                     <a href="<%= manager_users_path %>" class='half-pad-right half-pad-left'>管理中心</a>
                  <% else %>
                      <a data-method="delete" class='' href="/logout"><span class="fa fa-sign-out"></span>退出</a>
                  <% end %>
                </div>
                <div class="log-container half-pad-right half-pad-left pull-right">
                  <a href="<%= user_users_path %>" class='pad-right pad-left'><span class="fa fa-user half-gap-right"></span><%= current_user.name %></a>
                </div>
              </div> 
            <% else%>
              <div class="a-container">
                <div class="reg-container pull-right">
                  <a href="/regist" class='half-pad-right half-pad-left'>注册</a> 
                </div>
                <div class="log-container half-pad-right half-pad-left pull-right">
                  <a href="/login" class=''>登录</a>
                </div>
              </div>   
            <% end %>            
          </div>
        </div>       
      </div>
      <div class="row">
        <div class="four fifths">
          <nav role="navigation" class="nav gap-top">
            <ul role="menubar">
              <li class="one eleventh" aria-selected=<%= nav_actived?('welcome','index')%>>
                <a href="/" class='triple-padded'>Home</a>
              </li>
              <li class="one eleventh crm" aria-selected=<%= nav_actived?('category','index','crm')%>>
                <a href="/category?t=crm" class='triple-padded' id='nav_crm'>CRM</a>
              </li>              
              <li class="one eleventh ax" aria-selected=<%= nav_actived?('category','index','ax')%>>
                <a href="/category?t=ax" class='triple-padded' id='nav_ax'>AX</a>
              </li>
              <li class="one eleventh ax_crm" aria-selected=<%= nav_actived?('category','index','ax_crm')%>>
                <a href="/category?t=ax_crm"  class='triple-padded' id='nav_ax_crm'>软技能</a>
              </li>
              <li class="one eleventh free" aria-selected=<%= nav_actived?('category','index','f')%>>
                <a href="/category?t=f"  class='triple-padded' id='nav_free'>研讨班</a>
              </li>   
              <li class="one eleventh personal" aria-selected=<%= nav_actived?('users','index')%>>
                <a href="/user/users"  class='triple-padded' id='nav_personal' >个人中心</a>
              </li>
              <li class="one eleventh order" aria-selected=<%= nav_actived?('orders','index')%>>
                <a href="/user/orders"  class='triple-padded' id='nav_order' >我的报名</a>
              </li> 
              <li class="one eleventh feedback" aria-selected=<%= nav_actived?('feedbacks','index')%>>
                <a href="/user/feedbacks"  class='triple-padded' id='nav_feed'>我的反馈</a>
              </li>  
              <li class="one eleventh net1" aria-selected=<%= nav_actived?('users','feedbacks')%>>
                <a href="http://www.microsoft.com/zh-cn/dynamics/default.aspx" target='_blank' class='triple-padded noicon' id='nav_net1'>中国官网</a>
              </li>
              <li class="one eleventh net2" aria-selected=<%= nav_actived?('users','feedbacks')%>>
                <a href="https://mbspartner.microsoft.com/Landing" target='_blank' class='triple-padded noicon' id='nav_net2'>自学门户</a>
              </li> 
              <li class="one eleventh net1" aria-selected=<%= nav_actived?('welcome','tel')%>>
                <a href="/tel"  class='triple-padded' id='nav_tel'>致电客服</a>
              </li>                                                                                                  
<!--               <li class="one fifth qt" aria-selected=<%#= nav_actived?('category','index','qt')%>>
                <a href="/category?t=qt"  class='triple-padded'>OTHER</a>
              </li>   -->            
            </ul>
          </nav>          
        </div>
        <div class="one fifth search-container">
          <div class="row">
            <div class="one four fifths skip-one">
              <form class='layout-search half-pad-top' action='/courses/search' method='get'>
                <input id="search-name" name='name'  class='pad-left' type="text" placeholder="课程名称">
                <span class='fa fa-search absolute right padded'></span>
              </form>              
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
	<%= yield %>
<% end %>


<%= parent_layout 'app' %>