<% content_for :app_head do %>
	<%= stylesheet_link_tag    "layouts/default-layout" %>
	<%= javascript_include_tag "layouts/default-layout" %>
	<script type="text/javascript">
	jQuery(function($) {
	});
	</script>
	<%= yield :head %>
<% end %>


<% content_for :app_content do %>
  <header class="padded">
    <div class="container">
      <div class="row">
        <div class="three sixths mobile">
          <a href="/" class='logo-container'><%=image_tag "logo.png", :class => 'logo responsive',:alt => "logo" %></a>
        </div>
        <div class="two sixths mobile search-container">
          <input id="search-name" type="text" placeholder="课程名称">
          <span class='fa fa-search absolute top right'></span>
        </div>
        <div class="one sixth mobile login-container responsive">
          <div class="row">
            <a href="/login" class='one half mobile'>登录</a>
            <a href="/regist" class='one half mobile '>注册</a>            
          </div>
        </div>        
      </div>
      <nav role="navigation" class="nav gap-top asphalt">
        <ul role="menubar">
          <li class="one sixths" aria-selected=true><a href="/">Home</a></li>
          <li class="one sixths"><a href="/category?t=nav">NAV</a></li>
          <li class="one sixths"><a href="/category?t=crm">CRM</a></li>
          <li class="one sixths"><a href="/category?t=ax">AX</a></li>
          <li class="one sixths"><a href="/category?t=gp">GP</a></li>
          <li class="one sixths"><a href="/category?t=sl">SL</a></li>
        </ul>
      </nav>
    </div>
  </header>
	<%= yield %>
<% end %>


<%= parent_layout 'app' %>