<% content_for :app_head do %>
	<%= stylesheet_link_tag    "layouts/default-layout" %>
	<%= javascript_include_tag "layouts/default-layout" %>
	<script type="text/javascript">
	jQuery(function($) {
	});
	</script>
	<%= yield :head %>
<% end %>


<% content_for :app_content do %>
  <header class="pad-top  pad-left pad-right">
    <div class="container">
      <div class="row">
        <div class="three sixths mobile">
          <a href="/" class='logo-container'><%=image_tag "logo.png", :class => 'logo',:alt => "logo" %></a>
        </div>
        <div class="one sixth mobile login-container skip-two">
          <div class="row">
          <% if current_user.present?%>
            <% if current_user.is_admin? || current_user.is_viewer? %>
              <a href="<%= admin_companies_path %>" class='one half mobile'>管理中心</a>
            <% elsif current_user.is_manager? %>
              <a href="<%= admin_companies_path %>" class='one half mobile'>管理中心</a>
            <% else%>
              <a href="<%= user_users_path %>" class='one half mobile'>个人中心</a>
            <% end %>
            
            <a data-method="delete" class='one half mobile ' href="/logout">退出</a>
          <% else%>
            <a href="/login" class='one half mobile'>登录</a>
            <a href="/regist" class='one half mobile '>注册</a>          
          <% end %>
          </div>
        </div>        
      </div>
      <div class="row">
        <div class="one third">
          <nav role="navigation" class="nav gap-top">
            <ul role="menubar">
              <li class="one fifth" aria-selected=<%= nav_actived?('welcome',['index'])%>>
                <a href="/" class='triple-padded'>Home</a>
              </li>
              <li class="one fifth" aria-selected=<%= nav_actived?('category',['index','show'],'ax')%>>
                <a href="/category?t=ax" class='triple-padded'>AX</a>
              </li>
              <li class="one fifth" aria-selected=<%= nav_actived?('category',['index','show'],'crm')%>>
                <a href="/category?t=crm" class='triple-padded'>CRM</a>
              </li>
              <li class="one fifth" aria-selected=<%= nav_actived?('category',['index','show'],'ax_crm')%>>
                <a href="/category?t=ax_crm"  class='triple-padded'>AX+CRM</a>
              </li>
              <li class="one fifth" aria-selected=<%= nav_actived?('category',['index','show'],'qt')%>>
                <a href="/category?t=qt"  class='triple-padded'>OTHER</a>
              </li>              
            </ul>
          </nav>          
        </div>
        <div class="one third skip-one search-container">
          <input id="search-name" type="text" placeholder="课程名称">
          <span class='fa fa-search absolute top right padded'></span>
        </div>
      </div>
    </div>
  </header>
	<%= yield %>
<% end %>


<%= parent_layout 'app' %>