<% content_for :app_head do %>
	<%= stylesheet_link_tag    "pages/default" %>
	<%= javascript_include_tag "pages/default" %>
	<script type="text/javascript">
	jQuery(function($) {

	});
	</script>

	<%= yield :head %>
<% end %>

<% content_for :app_content do %>
	<!--nav link  about -->
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Project name</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="./">Default</a></li>
          <li><a href="../navbar-static-top/">Static top</a></li>
          <li><a href="../navbar-fixed-top/">Fixed top</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!--nav link  about -->
	<%= yield %>
  <!-- fotter about  -->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="row">
            <div class="col-md-2 col-sm-3">
              <h5>Product</h5>
              <ul>
                <li class="create"><a href="https://www.bunkr.me/en/create-presentation/">Create</a></li>
                <li class="gallery"><a href="https://www.bunkr.me/gallery">Gallery</a></li>
                <li class="collaborate"><a href="https://www.bunkr.me/en/collaborate/">Collaborate</a></li>
                <li class="vision"><a href="https://www.bunkr.me/en/product-vision/">Product Vision</a></li>
                <li class="pricing"><a href="https://www.bunkr.me/en/pricing/">Pricing</a></li>
                <li class="support"><a href="http://bunkr.uservoice.com/" target="_blank">Support</a></li>
              </ul>
              <h5>Customers</h5>
              <ul>
                <li class="schools"><a href="https://www.bunkr.me/en/schools/">Schools/Students</a></li>
                <li class="incubators"><a href="https://www.bunkr.me/en/incubators/">Incubators/Startups</a></li>
                <li class="speakers"><a href="https://www.bunkr.me/en/speakers/">Events/Speakers</a></li>
                <li class="ambassadors"><a href="https://www.bunkr.me/en/ambassadors/">Ambassadors</a></li>
              </ul>
            </div>
            <div class="col-md-2 col-sm-3">
              <h5>Company</h5>
              <ul>
                <li class="story"><a href="https://www.bunkr.me/en/story/">Story</a></li>
                <li class="values"><a href="https://www.bunkr.me/en/values/">Our values</a></li>
                <li class="team"><a href="https://www.bunkr.me/en/team/">Team</a></li>
                <li class="jobs"><a href="https://www.bunkr.me/en/jobs/">Jobs</a></li>
                <li class="partners"><a href="https://www.bunkr.me/en/partners/">Partners</a></li>
                <li><a href="http://bunkr.spreadshirt.fr/" target="_blank">Shop</a></li>
              </ul>
              <h5>News/Press</h5>
              <ul>
                <li><a href="http://blog.bunkr.me" target="_blank" class="blog">Blog</a></li>
                <li class="press_releases"><a href="https://www.bunkr.me/en/press-releases/">Press releases</a></li>
                <li class="press_review"><a href="https://angel.co/bunkr/activity#press">Press review</a></li>
                <li class="media_kit">
                  <a target="_blank" href=""><span class="glyphicon glyphicon-download"></span> Media Kit</a>
                </li>
              </ul>
            </div>
            <div class="col-md-3 col-sm-3">
              <h5>Community</h5>
              <ul class="social-btn-list community-icon-set-list">
                <li><a class="community-icon-twitter" target="_blank" href="">Twitter</a></li>
                <li>
                  <a class="community-icon-facebook" target="_blank" href="">Facebook</a>
                </li>
                <li>
                  <a class="community-icon-google" target="_blank" href="" rel="publisher">Google +</a>
                </li>
                <li>
                  <a class="community-icon-youtube" target="_blank" href="">YouTube</a>
                </li>
                <li>
                  <a class="community-icon-instagram" target="_blank" href="">Instagram</a>
                </li>
                <li>
                  <a class="community-icon-linkedin" target="_blank" href="">LinkedIn</a>
                </li>
                <li>
                  <a class="community-icon-angellist" target="_blank" href="">Angel List</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="row copyright">
            <div class="col-md-12 col-sm-12">
              <div class="row">
                <div class="col-md-4 col-sm-5">
                  Copyright 2014 Bunkr. All rights reserved.
                </div>
                <div class="col-md-6 col-sm-5">
                  <a href="https://www.bunkr.me/en/terms">Terms &amp; Conditions</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer> 
  <!-- fotter about  -->


<% end %>

<%= parent_layout 'app' %>